[2017-01-23 02:20] seanvk opened #2 "Remove the old specfile"
Why do we include it? Package maintainers create and maintain their own. Remove it.

[2017-01-29 03:38] seanvk opened #3 "[NM70][H264] h264 encoding does not works, return empty frames"
migrated from Bugzilla [#99573](https://bugs.freedesktop.org/show_bug.cgi?id=99573)
status NEW severity *critical* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: haihao

On 2017-01-28 01:45:54 +0000,  wrote:

[2017-01-29 03:38] seanvk opened #4 "H.264 encoder produces invalid motion vectors with certain inputs"
migrated from Bugzilla [#97070](https://bugs.freedesktop.org/show_bug.cgi?id=97070)
status ASSIGNED severity *major* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: haihao

On 2016-07-25 09:20:14 +0000, Steinar H. Gunderson wrote:

[2017-01-29 03:38] seanvk opened #5 "Bus error (core dumped) 8192x8192 JPEG decode"
migrated from Bugzilla [#98311](https://bugs.freedesktop.org/show_bug.cgi?id=98311)
status ASSIGNED severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *Other*
Assigned to: haihao

Original attachment names and IDs:
- _[file_98311.txt](https://bugs.freedesktop.org//attachment.cgi?id=127383)_ (ID 127383)
- _[gdb-trace-with-drm-bufmgr-debug.txt](https://bug

[2017-01-29 03:38] seanvk opened #6 "[Feature request] add support for YUV background colors"
migrated from Bugzilla [#99193](https://bugs.freedesktop.org/show_bug.cgi?id=99193)
status ASSIGNED severity *enhancement* in component *intel* for *---*
Reported in version *unspecified* on platform *Other*
Assigned to: haihao

On 2016-12-23 16:54:34 +0000,  wrote:

[2017-01-29 03:38] seanvk opened #7 "[SKL] hwaccel putimage doesn't check format"
migrated from Bugzilla [#91624](https://bugs.freedesktop.org/show_bug.cgi?id=91624)
status ASSIGNED severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *Other*
Assigned to: PengChen

Original attachment names and IDs:
- _[jpeg-enc-test.tar.gz](https://bugs.freedesktop.org//attachment.cgi?id=117666)_ (ID 117666)

On 2015-08-13 14:58:41 +0000, VÃ­ctor JÃ¡qu

[2017-01-29 03:38] seanvk opened #8 "[HSW..] vpp number of filters assertion"
migrated from Bugzilla [#91626](https://bugs.freedesktop.org/show_bug.cgi?id=91626)
status ASSIGNED severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *Other*
Assigned to: PengChen

On 2015-08-13 15:10:09 +0000, VÃ­ctor JÃ¡quez wrote:

On 2016-12-14 00:50:05 +0000, PengChen wrote:

[2017-01-29 03:38] seanvk opened #9 "HEVC CQP Encoding has shade on big QP(for example, QP=50)"
migrated from Bugzilla [#96545](https://bugs.freedesktop.org/show_bug.cgi?id=96545)
status ASSIGNED severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *x86 (IA32)*
Assigned to: PengChen

Original attachment names and IDs:
- _[issue hevc cqp qp50.png](https://bugs.freedesktop.org//attachment.cgi?id=124552)_ (ID 124552)

On 2016-06-16 05:43:12 +0000, Focus

[2017-01-29 03:38] seanvk opened #10 "loadjpeg will crash for ffmpeg generated content"
migrated from Bugzilla [#97633](https://bugs.freedesktop.org/show_bug.cgi?id=97633)
status ASSIGNED severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *Other*
Assigned to: PengChen

Original attachment names and IDs:
- _[16x16_422P.jpeg](https://bugs.freedesktop.org//attachment.cgi?id=126296)_ (ID 126296)
- _[16x16_440P.jpeg](https://bugs.freedesktop.org

[2017-01-29 03:38] seanvk opened #11 "[BSW]GPU HANG: ecode 8:0:0x7f5f7f7f, in ba [916], reason: Ring hung, action: reset"
migrated from Bugzilla [#98317](https://bugs.freedesktop.org/show_bug.cgi?id=98317)
status ASSIGNED severity *critical* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: Pengfei

Original attachment names and IDs:
- _[bsw gpu hang error info.txt](https://bugs.freedesktop.org//attachment.cgi?id=127396)_ (ID 127396)

On 2016-10-19 01:25:40 +00

[2017-01-29 03:38] seanvk opened #12 "Libva intel-driver(i965) master branch can't decode field VC1"
migrated from Bugzilla [#98850](https://bugs.freedesktop.org/show_bug.cgi?id=98850)
status ASSIGNED severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *All*
Assigned to: ykzhao

On 2016-11-25 06:24:03 +0000, Jun Zhao wrote:

On 2016-11-25 08:54:56 +0000, haihao wrote:

[2017-01-29 03:38] seanvk opened #13 "[IVB/BYT/BSW] Macroblocking artifact seen on a VC1 video file"
migrated from Bugzilla [#68492](https://bugs.freedesktop.org/show_bug.cgi?id=68492)
status REOPENED severity *major* in component *intel* for *---*
Reported in version *unspecified* on platform *All*
Assigned to: Focus.Luo

On 2013-08-23 23:01:04 +0000,  wrote:

On 2013-08-23 23:03:05 +0000,  wrote:

On 2014-10-01 15:58:39 +0000, Kevin Mitchell wrote:

On 2015-11-23 14:28:31 +0000, haihao wrote:

[2017-01-29 03:38] seanvk opened #14 "[HSW]JPEG decode would core dumped with loadjpeg"
migrated from Bugzilla [#67150](https://bugs.freedesktop.org/show_bug.cgi?id=67150)
status REOPENED severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *Other*
Assigned to: haihao

Original attachment names and IDs:
- _[vaapi-assert.jpg](https://bugs.freedesktop.org//attachment.cgi?id=121978)_ (ID 121978)

On 2013-07-22 02:45:52 +0000, Yang Lianyue wrote:

[2017-01-29 03:38] seanvk opened #15 "The h264encode doesn't free memory when it should"
migrated from Bugzilla [#75287](https://bugs.freedesktop.org/show_bug.cgi?id=75287)
status NEEDINFO severity *major* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: haihao

Original attachment names and IDs:
- _[0001-Destroy-the-buffer-after-vaRenderPicture-for-encodin.patch](https://bugs.freedesktop.org//attachment.cgi?id=96265)_ (ID 9626

[2017-01-29 03:38] seanvk opened #16 "Crash in object_heap.c:68 after heavy switching on/off H264 decoding of 6 streams in parallel"
migrated from Bugzilla [#96179](https://bugs.freedesktop.org/show_bug.cgi?id=96179)
status NEEDINFO severity *major* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: haihao

On 2016-05-25 07:48:28 +0000, Thomas wrote:

On 2016-07-27 07:26:35 +0000, haihao wrote:

On 2016-07-27 12:01:55 +0000, Thomas wrote:

On 2016-07-27 13:06:58 +0000, VÃ­

[2017-01-29 03:38] seanvk opened #17 "MADI on at least IVB and SNB assumes that reference surface is NV12, even when it's not (e.g. when feeding YUY2 surfaces from software to VPP)"
migrated from Bugzilla [#79377](https://bugs.freedesktop.org/show_bug.cgi?id=79377)
status NEEDINFO severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: PengChen

Original attachment names and IDs:
- _[0001-Hacky-patch-to-show-the-MADI-colourspace-bug.patch](https://bugs.freedesktop.org//attachment.cgi?id=100041)_ (ID 100041)

[2017-01-29 03:38] seanvk opened #18 "[BYT] GPU HANG: ecode 1:0xa8eeeb7e, in DVDPlayerVideo [4335], reason: Ring hung, action: reset in bsd ring"
migrated from Bugzilla [#95249](https://bugs.freedesktop.org/show_bug.cgi?id=95249)
status NEEDINFO severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: ykzhao

Original attachment names and IDs:
- _[error](https://bugs.freedesktop.org//attachment.cgi?id=123432)_ (ID 123432)

On 2016-05-03 10:09:14 +0000, Axay wrote:

On 2016-

[2017-01-29 03:38] seanvk opened #19 "VA_FILTER_SCALING_HQ downscaling from 4096x2160 to 176x144 only has a part of the source image"
migrated from Bugzilla [#96434](https://bugs.freedesktop.org/show_bug.cgi?id=96434)
status NEEDINFO severity *major* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: ykzhao

Original attachment names and IDs:
- _[Ã§Â¼Â©Ã¦ÂÂ¾Ã¥ÂÂÃ¥ÂÂÃ§ÂÂÃ¥ÂÂ¾Ã¥ÂÂ.rar](https://bugs.freedesktop.org//attachment.cgi?id=124398)_ (ID 124398)
- _[attachme

[2017-01-29 03:38] seanvk opened #20 "[SNB]invalid VASurfaceID when filtering a surface for color space transform"
migrated from Bugzilla [#97086](https://bugs.freedesktop.org/show_bug.cgi?id=97086)
status NEEDINFO severity *normal* in component *intel* for *---*
Reported in version *unspecified* on platform *x86-64 (AMD64)*
Assigned to: ykzhao

On 2016-07-26 06:36:53 +0000,  wrote:

On 2016-07-26 07:41:18 +0000,  wrote:

On 2016-07-26 08:11:02 +0000,  wrote:

On 2016-07-27 01:00:22 +0000, haihao wrote:

On 20

[2017-01-31 23:32] seanvk opened #21 "Need to update yocto recipes upstream"
Yocto recipes for intel-vaapi-driver are still pointing to FDO. Maybe we could file a bug with them or submit an updated recipe.

[2017-01-31 23:32] seanvk commented on #21
https://bugzilla.yoctoproject.org/show_bug.cgi?id=10999

[2017-02-01 19:45] seanvk opened #22 "Debian control files not used by packagers"
Upstream maintainers for debian based packaging do not use the control files in the project. They are poorly maintained and conflict with upstream packaging. Remove them.

[2017-02-01 23:56] #22 closed

[2017-02-02 07:03] effemmeffe opened #24 "How to disable informative messages in .xsession-errors"
My kodi runs over a NUC with ubuntu 16.04.
The file .xsession-errors is full of messages from vaapi:
[code]
I reported on kodi forum: http://forum.kodi.tv/showthread.php?tid=305503&pid=2513806#pid2513806 and they told me that this is something outside their control.
Is it possible to disable the print of those messages that fills the file without any valuable information?

[2017-02-02 16:51] uartie commented on #24
Unfortunately there is no way to disable it.  Your welcome to propose a patch or file a feature request issue.

[2017-02-02 16:51] #24 closed

[2017-02-02 17:47] effemmeffe opened #26 "[feature request] disable informative messages"
In my .xsession-errors I found this messages:
libva info: VA-API version 0.39.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_39
libva info: va_openDriver() returns 0

I'd like to have the ability to disable those messages.
This will avoid to make the file grow in machines that ru

[2017-02-02 19:58] tmm1 opened #27 "Cannot use statically compiled library"
When building with `--enable-static`, the generated libi965_drv_video.a references `dlclose()` and thus requires libdl.

[2017-02-02 20:05] #27 closed

[2017-02-03 06:56] seanvk commented on #26
This information is provided by libva and is not handled by the driver.

[2017-02-03 06:56] #26 closed

[2017-02-03 07:23] xhaihao commented on #3
Intel® Dual-core Celeron® 1037U doesn't support encoding. I am asking the reporter provide the model name of 1037U and will provide a patch to disable encoding on 1037U.

[2017-02-03 07:30] Nalorokk commented on #3
cpu family	: 6
model		: 58
model name	: Intel(R) Celeron(R) CPU 1037U @ 1.80GHz

I hope that you are 100% sure that this CPU can't do encoding. It is pretty hard to find out what is capabilities of integrated GPU, from Intel Ark.

[2017-02-03 08:20] xhaihao commented on #3
Thanks for the info. Yes, 1037U doesn't support encoding.

[2017-02-03 08:32] xhaihao commented on #3
@Nalorokk,

Could you help to try with https://github.com/xhaihao/intel-vaapi-driver/commit/a437679ffbd00fa7381c3160ede06346ce9aff96?  I wonder whether the output of vainfo is right after applying this patch.

[2017-02-03 10:29] Nalorokk commented on #3
error: can't connect to X server!
libva info: VA-API version 0.39.4
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_39
libva info: va_openDriver() returns 0
vainfo: VA-API version: 0.39 (libva 1.7.3)
vainfo: Driver version: Intel i965 driver for Intel(R) Ivybridge Mobile - 1.8.0.pre1 (1.8.0.pre1)
va

[2017-02-04 06:08] xhaihao commented on #3
@Nalorokk

Thanks for the info, so the patch takes effect. I will submit a pull request

[2017-02-04 07:37] seanvk opened #29 "Odd pkgconfig issue when enabling wayland, needs explicit handling for wayland-client"
Getting occasional errors where wayland-client.h cannot be found when building intel-vaapi-driver.

Distro: OpenSuse Tumbleweed

Build and install libva locally with wayland support

Build and install intel-vaapi-driver with wayland support

Consistently get this error:

  CC       libi965_drv_video_la-i965_output_wayland.lo
In file included from i965_output_wayland.c:30:0:
/usr/include/va/va_back

[2017-02-04 18:07] #29 closed

[2017-02-06 03:13] xhaihao commented on #3
application or middle-ware should not do encoding anymore on 1037U

[2017-02-06 03:13] #3 closed

[2017-02-09 06:23] yakuizhao opened #35 "Encoding doesn't check the input rate_control attribute"
When the upper-middleware passes the attribute that is not supported by the driver, the driver doesn't check it and still continue the encoding. This is wrong.
For example:  CBR is not exported. The upper-middleware passes the CBR  rate_control. And the driver still helps to do the CBR encoding.

Expected behaviour:  return error code when the unsupported attribute is passed.

[2017-02-09 08:53] yakuizhao opened #36 "VDENC: some static table are updated incorrectly"
VDENC defines some  static tables. In theory they should not be changed. But the current code will update the static table incorrectly, which causes that the static table can't be recovered. In such case it will cause the different behaviour under the below scneario:

[2017-02-09 12:22] ceyusa opened #38 "jpeg encoder doesn't report available pixel formats when vaQuerySurfaceAttributes()"
When fixing gstreamer-vaapi bug https://bugzilla.gnome.org/show_bug.cgi?id=775490 (vaapi: encode: jpeg should release configuration after each frame (multi file support)) we found out that when the context was jpeg encoder, the driver doesn't reply the available pixel formats. We need to know that in order to announce the available color formats for raw source caps.

[2017-02-09 17:38] #38 closed

[2017-02-10 01:34] #36 closed

[2017-02-10 04:41] xhaihao opened #39 "Rework VP8 encoder with new VP8 shaders on BSW"
We have the new VP8 shaders for BSW, need to rework the VP8 encoder

[2017-02-10 04:43] xhaihao opened #40 "Rework VP8 encoder with new VP8 shaders on SKL/APL/KBL"
We have the new VP8 shaders for SKL/APL/KBL, need to rework VP8 encoder on SKL/APL/KBL

[2017-02-11 14:15] fhvwy opened #41 "H.265 Main 10 profile encoder aborts when given non-Y-tiled P010 surfaces"
On Kaby Lake:
[code]

Other related combinations do work:
* Y-tiled P010 surfaces, encoding to Main 10 profile.
* Non-Y-tiled P010 surfaces, encoding to Main profile (with downsampling).
* Non-Y-tiled NV12 surfaces, encoding to Main profile.

[2017-02-12 00:33] seanvk commented on #41
Are you testing this with avconv @fhvwy, if so can you share the command line command you are using to reproduce it?

[2017-02-12 11:52] fhvwy commented on #41
Technically yes, but I'm not sure how helpful it will be because it has incomplete further development on top of current libav.  The P010 surfaces which I am using here are coming from Beignet, and being mapped to VAAPI via clGetMemObjectFdIntel + vaCreateSurfaces with DRM PRIME fds.

If you really want to follow my reproduction steps, then:
* Build and install Beignet with this patch to enable P0

[2017-02-12 23:37] fhvwy opened #42 "H.265 encoder crashes when given surfaces straight from H.264 decoder"
With current libav:
`./avconv -y -threads 1 -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i in.mp4 -an -c:v hevc_vaapi out.mp4`
crashes with heap corruption.

valgrind says:
[code]

The struct object_surface private_data field seems to be inappropriately shared.  The H.264 decoder allocates it as a GenAvcSurface (32 bytes), but the H.265 encoder is treating it as i

[2017-02-13 00:40] xhaihao commented on #42
We are aware of this issue and will investigate a solutions.

It will cause critical issue if releasing the private data which is using in another context. e.g. the dmv buffers in AVC decoding context. Here I don't think releasing private data here is a good idea. We need a rework for private data usage.
@seanvk
seanvk 3 days ago Member

Yes, I agree. Let's file a bug @xhaihao on reworking handlin

[2017-02-13 05:12] xhaihao commented on #41
It should be encode_state->input_yuv_object instead of encode_state->current_render_target  when checking the input YUV surface in the driver.

[2017-02-14 01:30] pengche1 commented on #41
[0001-Fix-the-linear-P010-aborts-bug-for-hevc-main10-encod.txt](https://github.com/01org/intel-vaapi-driver/files/772866/0001-Fix-the-linear-P010-aborts-bug-for-hevc-main10-encod.txt)
@fhvwy, could you help me test this patch? It works for me. but you scenerio is more complicated and please double check. thanks!

[2017-02-14 01:46] QuPengfei opened #43 "AVC encoder quality improvement on SKL/APL"
This will improve the AVC encoder quality on SKL and APL

[2017-02-14 02:38] yakuizhao opened #44 "VDENC: VDENC encoding fail on KBL"
Current driver is only validated in libyami. But it fails when using other encoding tool.
At the same time when the multi-slices are used, more issues will be triggered.

[2017-02-14 02:52] yakuizhao opened #45 "VDENC fails to export the supported BRC on BXT/KBL"
The VDENC CBR BRC depends on the Huc. But unfortunately the driver doesn't export the BRC mode based on the detection of Huc attribute.
In such case the user-space middleware checks that only CQP is supported on BXT/KBL.

[2017-02-14 06:42] xhaihao opened #46 "Encoding a VP9 stream results in GPU hang on SKL if the hybrid codec is enabled too"
steps to reproduce the issue:
1. Install intel-hybrid-driver
2. build intel-vaapi-driver with --enable-hybrid-codec
3. build libyami with --enable-vp9enc
4. run the following command on SKL
yamitranscode -W xxx -H xxx -i <yuvfile> -i  -c vp9 -o <vp9 file>

[2017-02-14 07:00] yakuizhao commented on #46
I agree that the driver should add more check for the invalid input.

In fact the issue is also related with that the upper-middleware doesn't check the returned Profile/Entrypoint. Instead it directly passes the invalid parameter.
But unfortunately this is not checked in the driver.

[2017-02-14 07:28] #46 closed

[2017-02-14 07:32] #45 closed

[2017-02-14 07:33] #44 closed

[2017-02-14 07:59] xhaihao commented on #42
I can reproduced this issue with yamitranscode (you need to define DISABLE_SCALE in tests/yamitranscode.cpp) but only when transcoding AVC/VC-1 to H.265, this is because H.265 encoder writes some data in the private data of the input surface.

[2017-02-14 08:40] xhaihao commented on #41
@pengche1, could you also take https://github.com/01org/intel-vaapi-driver/issues/42 into account? It seems #42 is also caused by a bug in H265 encoder.

[2017-02-14 08:41] fhvwy commented on #41
@pengche1  Works for me with the setup above (no longer aborts, output is correct).  Thank you!

[2017-02-14 13:45] yakuizhao commented on #41
@fhvwy . Currently the driver will help to do the conversion implicitly for some input surface(For example: non-tiled NV12, I420 and so on). But I don't think that it is a good idea.  If one shared non-tiled surface is used as the reconstructed surface, how should we handle it?
It will be better that the explicit conversion is used instead.  In such case it helps the user to choose the better inpu

[2017-02-14 19:04] fhvwy commented on #41
@yakuizhao  For reconstructed surfaces I definitely agree - I can't think of any reasonable use case for wanting to supply externally-allocated shared surfaces there.  For input surfaces, that's not true.  The problem, then, is that VAAPI is careful to make this sort of detail (tiling mode) opaque, such that users don't have any outward visibility at all as to what is going on and the driver trans

[2017-02-14 23:03] chivakker opened #48 "Properly check for X11 backend to avoid compilation break"
configuring should use pkg-config to know if X11 headers (distributions call this devel packages) are available to the path and avoid compiling X11 stuff if they are not present.

Currently configure won't check for it and as a result in the absence of X11 headers the build breaks when compiling vi_dricommon.h, which is included by va_backend_compat.h.  Compilation relies on a successful configure

[2017-02-15 01:51] #16 closed

[2017-02-15 01:53] xhaihao commented on #15
Close this bug and file a new bug in libva-utils

[2017-02-15 01:56] xhaihao commented on #13
Assign the bug Focus to check this issue on SKL+

[2017-02-15 01:59] xhaihao commented on #12
few people is using VC1 on Linux and we have supported basic VC1 in the driver.

[2017-02-15 01:59] #12 closed

[2017-02-15 05:41] pengche1 commented on #42
@fhvwy, please help me to check this patch. if any problem, just tell me. thanks!

[2017-02-15 06:04] yakuizhao commented on #48
I  don't think that it is a bug. Instead it is related with the system configuration.
In fact if the libva is built without x11 supported, it will disable libva-x11. Then the intel-vaapi-driver can be built with X11 disabled automatically.
But the building system has the libva-x11.pc. In such case it causes that USE_X11 is still configured as 1.
Then the error is triggered.

But it is not the driv

[2017-02-15 07:26] seanvk commented on #41
No we don't explicitly describe the memory organization of the surfaces or the respective color format requirements.  At some point we can add that to the Wiki documentation, otherwise it's in the code and the PRM on 01.org, but not entirely easy to discern.

[2017-02-15 17:49] chivakker commented on #48
The point here is which library needs x11 to compile.  If it is needed to compile then configure should be doing the check.  libva was doing it because the test folder required it, so in that scenario all libraries were covered.  Once libva-utils is introduced, the expectation is that it should be compiled in this order libva, intel-vaapi-driver and the libva-utils.  libva doesn't need to check fo

[2017-02-15 21:06] fhvwy commented on #42
@pengche1  Tested with avconv, LGTM.  Thank you!

[2017-02-15 21:16] Faham opened #52 "H.264 decoder crashes "couldn't find associated picture parameter set with id: 0""
[capture.zip](https://github.com/01org/intel-vaapi-driver/files/778410/capture.zip)

Using gstreamer pipeline:

`gst-launch-1.0 filesrc location=./streams/62508/WGN_VU_2016-11-30_09.00.53.ts ! queue max-size-bytes=0 max-size-buffers=0 max-size-time=10000000000 ! tsdemux name=dmx     dmx. ! h264parse ! vaapidecode ! queue max-size-bytes=0 max-size-buffers=0 max-size-time=10000000000 ! vaapisink
`

[2017-02-16 00:41] yakuizhao commented on #48
The driver has the dependency on libva-x11. If the libva is built without libva-x11,  the x11 is automatically disabled when trying to build the driver.(Although x11 is enabled for libva by default, it will also be disabled if the X11 library doesn't meet with the requirement.)

So if the libva has no libva-x11 library, the mentioned issue in driver is related with the system configuration.

BTW:

[2017-02-16 02:06] xhaihao commented on #52
@Faham It seems this is a gstreamer-vaapi bug, please file the bug in gnome bugzilla:

https://bugzilla.gnome.org/enter_bug.cgi?product=GStreamer
component: gstreamer-vaapi

[2017-02-16 02:06] #52 closed

[2017-02-16 05:32] xhaihao commented on #48
@yakuizhao Even though user installs libva & libva-x11, it is possible not to install the develop package for X11, however we need the develop package fox X11 (e.g. libx11-dev on Ubuntu) to build the driver.

[2017-02-16 05:50] yakuizhao commented on #48
@chivakker @xhaihao Thanks for the more detailed explanation. Sorry that I am wrong. If the libva is installed by the distribution package with libva-x11, the driver building error will be triggered if X11 library doesn't exist.

[2017-02-16 06:19] #41 closed

[2017-02-16 08:21] #42 closed

[2017-02-16 17:22] seanvk commented on #21
Saul Wold changed bug 10999
What	Removed	Added
Status	IN PROGRESS IMPLEMENTATION	RESOLVED
Resolution	---	FIXED
Comment # 4 on bug 10999 from Saul Wold
Merged the libva change to oe-core:

http://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/?id=73d1c2713725602549fff99434be24fe593d80bb

and into meta-intel here for libva-intel-driver:

http://git.yoctoproject.org/cgit/cgit.cgi/meta-intel/commit/?i

[2017-02-17 05:18] zzoon opened #54 "Remove assertion when it gets invalid format on wayland."
Currently, in va_GetSurfaceBufferWl, it asserts when it gets invalid surface format.
Why don't we just return error so that application could handle this case?

[2017-02-17 07:10] #54 closed

[2017-02-17 07:53] yakuizhao opened #56 "VDENC: incorrect buffer domain for Downscaled reconstruct buffer"
It should be configured as write. But now it is marked as "READ_DOMAIN".
In fact as it is still treated as R/W,  there is no issue.
But it will be better to fix it.

[2017-02-18 23:41] seanvk opened #58 "Convince me you are using Android.mk"
Because we are not testing Android build with it and yet the makefile is still there and we are rarely adding files to it...I'd honestly prefer to see that maintained at the packaging level of an android project.  Anyway, why can't Android just cooperate and not require their own Makefile?

Begin

[2017-02-18 23:45] seanvk commented on #56
Note that this was already merged but the commit header was wrong so the webhook did not pick up the change and so this bug is still open.  SO I will close it now.

[2017-02-18 23:45] #56 closed

[2017-02-20 01:06] xhaihao commented on #56
Sorry it was my fault. I didn't notice the issue number #45 doesn't match the issue URL in the message.

    Fix the issue #45
    https://github.com/01org/intel-vaapi-driver/issues/44

The bug would be closed automatically if the message was

    Fix the issue #45
    https://github.com/01org/intel-vaapi-driver/issues/45

BTW I think an issue URL in the commit message is more meaningful than an i

[2017-02-20 01:54] xhaihao commented on #58
Yes Android Makefiles are out of date now. In the past, someone used this driver on Android and it worked fine.

I think Android is a little different from other Linux OS distributions. Other projects such as mesa, libdrm also include android Makefiles.

[2017-02-22 08:15] xhaihao opened #59 "Running a transcode from the H.264 of the input file to VP8 results in GPU hang when using the new VP8 encoder"
Platform: BSW+

Command:
./yamitranscode -i <input file> -f 60 --rcmode CBR --ow 1920 --oh 1080 -c VP8 -b 500 -N 1000 -o out.ivf

Standard test input: <http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_60fps_normal.mp4>

Note: it occurs with some input files at low bitrates with 60fps only

Please refer to https://lists.freedesktop.org/archives/libva/2017-January/005198.htm

[2017-02-22 10:46] zzoon opened #60 "When vaQuerySurfaceAttributes for jpeg encoder, it doesn't return YUY2 format, which should be handled."
Since commit d540e43 landed, we can query for VAEntrypointEncPicture entrypoint. But it doesn't return YUY2 format, which jpeg encoder is capable of handling.

[2017-02-22 16:49] seanvk commented on #59
The media kernel team is investigating.

[2017-02-22 16:51] seanvk commented on #58
I think you are right @xhaihao .  However, since we are not actively building it, then it is always in a state of uncertainty.  In the future @xuguangxin, will you be doing Android test builds say for YunOS?  Just trying to determine if we are actually going to be maintaining it.

[2017-02-22 20:55] seanvk commented on #59
@xhaihao create a Milestone, title it 1.8.0 and assign this bug to the Milestone.

Thanks,

Sean

[2017-02-22 20:56] seanvk commented on #39
@xhaihao You forgot to add to the commit header Fixes #n  so these bugs are still hanging about.

[2017-02-22 20:56] #39 closed

[2017-02-22 20:56] seanvk commented on #40
@xhaihao You forgot to add to the commit header Fixes #n  so these bugs are still hanging about.

[2017-02-22 20:56] #40 closed

[2017-02-22 21:01] seanvk commented on #43
Hi, you just need to use the phrase:  "Fixes #n"  Note the spelling and where n is 43.  You have some weird things like "Fix #n" and 01org#n.

[2017-02-22 21:37] seanvk commented on #43
@QuPengfei In your recent patch update, where are the actual kernel files?  I don't see them.  All I see is the header with the extern declaration.

[2017-02-23 00:47] yakuizhao opened #62 "imported surface doesn't check the buffer layout"
When the surface is created in driver internally, it will be allocated based on HW requirement.
But when the surface is imported through buffer_sharing, it doesn't check the layout. In such case maybe the buffer doesn't meet with the HW requirement.

So when the buffer is created through buffer_sharing, it will be better to add the check of layout requirement. For example: pitch.

[2017-02-23 00:54] xhaihao commented on #40
@seanvk I'd like to add "Fixes <issue URL>" instead of "Fixes #n" in the commit, github will change the URL to #n automatically in the github environment but keep the commit message unchanged.

E.g. in commit 71f77c6a4b757576edb22642cb9baf1cc9792453
This fixes https://github.com/01org/intel-vaapi-driver/issues/46

The issue of 46 was also closed automatically

I think a URL is better than a number

[2017-02-23 00:59] seanvk commented on #62
Thanks for adding this.

[2017-02-23 01:25] seanvk commented on #40
On Wednesday 22 Feb 2017 at 16:54:17 (-0800), Xiang, Haihao writes :

Haihao,

There is always a record.  Please do both if you want to include the URL.

Fixes #n is standard practice with Github and if you want to include the URL
you can.  This is no different than Google Chrome.  We all know it is a Github
project and the # can easily be found from the Github project.

Thanks,

Sean

[2017-02-23 01:26] #48 closed

[2017-02-23 01:28] seanvk commented on #40
And @xhaihao if you use Github, the link will always be in the commit view from github:

For example:
https://github.com/01org/intel-vaapi-driver/commit/03a86fc527febd7a2f2d52d3b46fee2c5ccb641b

So please continue to include Fixes #n  You can add a URL if you want but that is needless duplication of a Github feature.

[2017-02-23 01:35] xhaihao commented on #40
Yes, it is easy in github. but for a reader who is not using github,  what does #n mean?

[2017-02-23 01:40] seanvk commented on #40
On Wednesday 22 Feb 2017 at 17:35:26 (-0800), Xiang, Haihao writes :

The reader has to get the code from github.  Github is where the issue number
is tracked.  They can look up the bug by the number in the commit.  It's
absolutely no different than Chrome or even Bugzilla numbers.  It also allows
us to have a standard flow for issue resolution.

Thanks,

Sean

[2017-02-23 01:51] QuPengfei commented on #43
@Sean the kernel binary file in this patch "ENC: add AVC kernel binary on SKL", include .h/c. it looks too large.

here is the info:
12,085 12,085 additions & 0 deletions  src/gen9_avc_encoder_kernels.c
12,085 additions, 0 deletions not shown because the diff is too large. Please use a local Git client to view these changes.

[2017-02-23 01:52] QuPengfei commented on #43
yes, I will correct the spelling. at the same time 01org#n is the issue link, I will remove it.

[2017-02-23 02:02] seanvk commented on #43
Ah, I will pull the binaries directly.  I just wanted to make sure the actual kernel files with the binaries were using an Apache 2 header...

[2017-02-23 02:09] xhaihao commented on #40
@seanvk  I agree we should have a standard flow for issue resolution, actually github supports "Fixes <URL>".

My concern is  a number in the commit log is meaningless. We moved from FDO to github, maybe we will move from github to another place in the future.  A reader doesn't know what is the number when he go through the whole git log.

[2017-02-23 04:11] seanvk commented on #40
This is no different than having a bugzilla number or a chrome bug number.  They can look up where they got the source from.  If you insist its trivial to just say Fixes 01org/intel-vaapi-driver#n or Fixes #n. Either will work.

Thanks,

Sean

[2017-02-23 05:56] yakuizhao opened #63 "VDENC: Potential shift flow issue in gen9_vdenc_mfx_avc_ref_idx_state"
The below code has the potential shift flow issue if the list_ref_idx[0][i] is greater than or equal to 4.

        fwd_ref_entry &= ~(0xFF << ref_idx_shift);
        fwd_ref_entry += (gen9_vdenc_mfx_get_ref_idx_state(ref_pic, vdenc_context->list_ref_idx[0][i]) << ref_idx_shift);

[2017-02-23 19:09] seanvk opened #65 "VP9 Enc and VP8 Enc kernels are Apache 2.0"
Ensure headers for the binary kernels are Apache 2.0 exclusively.

[2017-02-25 12:17] sesse opened #66 "README isn't updated for Kaby Lake"
Hi,

The README doesn't mention that Kaby Lake supports VP9 encode (both 8- and 10-bit), even though the NEWS file mentions it was added in 1.7.1/1.7.3. It should probably be updated.

[2017-02-26 16:22] evelikov commented on #58
@seanvk afaict it's mostly ok - barring a few small cleanups.

Personally, I suggest reaching out to the Android-ia/Android-x86 people - most Android (and Linux as well) distros are under the impression that upstream "does not give a sh*t" , so they keep quiet. Even when they have good bugfixes/other.

By doing so you might even get some extra contributors to help with the mundane cleanups, that t

[2017-02-26 18:19] zz64 opened #67 "HEVC vaapi official (latest) Debian stretch is missing ?"
Hi,
are HEVC in vaapi on official Debian stretch is missing ?
[code]

my GPU:
00:02.0 VGA compatible controller: Intel Corporation HD Graphics 5500 (rev 09)

should rebuild from source ?

Thanks.

[2017-02-27 02:11] xhaihao commented on #67
You are using Broadwell, however the driver doesn't support hardware accelerated HEVC decoding/encoding on Broadwell

You could check the codec section for which codecs are supported on your machine.

[2017-02-27 02:15] #67 closed

[2017-02-27 02:39] xhaihao commented on #66
The driver doesn't support VP9 10bit encoding on Kaby Lake, we don't mention VP9 10bit encoding in the NEWS

[2017-02-27 04:10] #66 closed

[2017-02-27 04:43] #63 closed

[2017-02-27 08:21] sesse commented on #66
Yes, you're right; I misread the NEWS file. The README file looks good now, thanks!

[2017-02-28 04:54] #60 closed

[2017-02-28 05:10] #65 closed

[2017-02-28 10:29] lqvnguyen commented on #13
I would like to see this long standing issue resolved. I can provide samples where the macro blocking artifacts occurring with VC-1.

[2017-02-28 22:48] ChuckPa commented on #13
I also would like this resolved.   There are a lot of folks who are depending on this working cleanly, especially in Linux,  so we can use the hardware directly and free up the processor to all the other things it needs to do.

[2017-03-01 05:04] yakuizhao opened #70 "VDENC: VDENC_PIPE_BUF programs the valid gpu address for the invalid reference frame"
Maybe the ref_list_idx[0][X] is also initialized to zero even for the invalid reference frame. In such case the VDENC_PIPE_BUF will program the valid GPU address for the invalid reference frame.
For example: FWD Ref1 is invalid

[2017-03-01 05:57] lqvnguyen commented on #13
@xhaihao Samples provided [here](https://drive.google.com/open?id=0BxboZY9r3rFBeEhXQ2pVb1FEcEE).

[2017-03-01 07:02] LongChair commented on #13
I have to say that I also would like a fix for this.

[2017-03-02 06:38] #43 closed

[2017-03-02 18:51] uartie opened #72 "Unittest Regression: AVCEncode/AVCEContextTest.QualityRange test cases"
PR #33 caused the `AVCEncode/AVCEContextTest.QualityRange` unittests to regress in the `test_i965_drv_video` test suite on SKL+.  Based on the nature of the change, this only appears to be an issue with the test cases being out of date now.  That is, the default quality ranges for AVCE were changed in PR #33 but the test cases were not updated to reflect the new defaults.  The good thing is that t

[2017-03-03 06:02] QuPengfei opened #73 "Encoder: AVC rework on KBL"
this is for AVC improvement on KBL

[2017-03-03 09:55] QuPengfei commented on #72
Pull request is on going

[2017-03-03 09:56] QuPengfei commented on #72
with the each platform adding for AVC encoder， here still need the changes.

[2017-03-04 01:26] lqvnguyen commented on #13
@xhaihao Were you able to review the samples?

[2017-03-06 06:30] #70 closed

[2017-03-06 17:33] #72 closed

[2017-03-06 20:47] iamleot opened #76 "Add support for NetBSD (and maybe other OSes without <alloca.h>)"
intel-vaapi-driver does not build on NetBSD due to non-existent
<alloca.h> (alloca(3) is in <stdlib.h>).
Using `AC_FUNC_ALLOCA` macro in `configure.ac` and adjusting
`src/i965_decoder_utils.c` accordingly fixes that.

A possible patch is attached in this issue (please let me know if I have missed
something!).

Thank you very much for the attention!

[0001-configure-check-for-AC_FUNC_ALLOCA.txt](ht

[2017-03-06 21:33] chivakker commented on #76
Please submit your patch as a pull request to get it reviewed and approved.

[2017-03-06 21:47] iamleot commented on #76
Hello Daniel,

Daniel Charles writes:

Whoops, sorry for the noise. I have just submitted it as pull
request #77.

Thank you!

[2017-03-07 14:22] ceyusa commented on #20
There's a bug in gstreamer-vaapi related with this issue:
https://bugzilla.gnome.org/show_bug.cgi?id=769253

[2017-03-08 01:24] lqvnguyen commented on #13
Updates?

[2017-03-08 02:23] xhaihao commented on #13
@lqvnguyen Sorry for slow response.  I can reproduce the issue with the samples you provided. We will look into the issue. but it is hard to say when we will fix the issue.

[2017-03-08 03:18] DaveBinM commented on #13
I'd also like to have this resolved. This has been broken in linux for a long time, and I'd like to be able to use my CPU for things other than software decoding VC-1.

[2017-03-08 05:18] lqvnguyen commented on #13
@xhaihao Now that you have reproduced it, do you have an idea of the root cause?

[2017-03-09 00:59] xhaihao commented on #13
@lqvnguyen Currently the root is unknown, we will check the pipeline setting for VC1 first.

[2017-03-09 05:15] rislim opened #79 "Correct the src_rect.height assign value"
The src_rect.height = dst_rect.height got the assign value from dst_obj_surf->orig_height. It should be get the assign value from src_obj_surf->orig_height not dst_obj_surf->orig_height.

[2017-03-09 15:04] #76 closed

[2017-03-09 15:13] iamleot commented on #76
Hello Xiang,

"Xiang, Haihao" writes:

Thank you very much!

[2017-03-10 06:54] YuJiankang opened #80 "Add the support for GLK in the intel-driver"

[2017-03-10 07:10] rislim opened #82 "Fix possible garbage data after malloc in i965_create_buffer_internal function"
1. Fix memset possible happen incorrect size value, it should be using msize instead of size. After align, the size value may increase if size value is not aligned with 4.
2. Avoid possible garbage data, recommend do a memset after malloc to initialize the value to zero.

[2017-03-10 18:46] tmjohns1 opened #84 "avcenc produces run-to-run bit compare mismatches."
Sporadically seeing sha1sum mismatches from run-to-run of avcenc (see below).  Reproduced with Big Buck Bunny clip, as well as 176x144-25_1882_seq4.yuv.  Pengfei has reproduced this issue.

Typical invocation:
avcenc 1920 1080 big_buck_bunny_1080p24_frames_11858_12100.yuv bbb_1080p24-cqp10-1.264 --qp=10 --mode=2

46668c54572db0e02024ed8f1663f892d4cbe966  bbb_1080p24-cqp10-1.264
0fe29c90b887403e52c

[2017-03-10 19:18] chivakker commented on #84
have you tried libyami https://github.com/01org/libyami and https://github.com/01org/libyami-utils for the same use cases?  Those libraries offer also md5sum comparisons on intel-vaapi-driver

[2017-03-13 17:39] chivakker opened #85 "pre-release and release tarballs should comply with naming convention using hyphens"
All our previous releases use hyphens for the final tarball name.  To reduce the amount of changes on the distributions building scripts the names should be using hyphens.

The naming can be checked on the old repository https://freedesktop.org/software/vaapi/testing/libva-intel-driver/

[2017-03-13 23:13] fhvwy opened #87 "VP9 encode rate control hangs GPU if framerate is 127 or higher"
[code]
-> works.

[code]
-> GPU hang.

The only difference here is dw10 (frame_ratem) being 126 or 127.

Also reproducible with fractions (frame_ratem / frame_rated): 1269/10 works but 1270/10 hangs.

(Kaby Lake GT2.)

[2017-03-14 01:07] yakuizhao commented on #87
Thanks for reporting the issue and detailed debug.
This is really an issue. In theory no hang should be triggered.
Based on your debug the used frame rate is too high while the bit-rate is so low. I don't think that it is a common usage scenario. So IMO it is not worth taking too much effort on the corner case.

[2017-03-14 01:28] fhvwy commented on #87
The bitrate is irrelevant, as are all of the frame parameters (resolution, etc) as far as I can tell.

For example:
[code]
also hangs (128x128 at 10Mbps).

[2017-03-14 01:41] yakuizhao commented on #87
It is really an issue if the hang is triggered regardless of bit-rate.
And the driver needs to handle it.

[2017-03-14 01:57] lqvnguyen commented on #13
This was just tested against the NUC7i3BNK. Same issue as all previous Intel CPU/iGPUs mentioned in my first post.

[2017-03-14 04:30] seanvk commented on #21
Fixed upstream

[2017-03-14 04:30] #21 closed

[2017-03-14 04:30] #15 closed

[2017-03-14 04:34] #85 closed

[2017-03-15 03:26] QuPengfei opened #88 "AVC encoder ROI number error"
ROI number should be 4 for the current version

[2017-03-15 04:20] #82 closed

[2017-03-15 04:22] #88 closed

[2017-03-15 04:27] xhaihao opened #90 "The new vp8 and avc encoder uses some pointers without checking against NULL"

[2017-03-15 04:34] #80 closed

[2017-03-15 05:50] #90 closed

[2017-03-16 05:38] xhaihao opened #92 "avoid to use NULL pointer in avc_get_first_mb_bit_offset_with_epb()"
buf returned from malloc may be NULL and  buf is used in the for loop without checking against NULL.

[2017-03-16 07:05] #92 closed

[2017-03-17 18:19] dvrogozh commented on #84
I can see this issue with:
yamitranscode -i input_1920x1080p.264 -o out.h264 -W 1920 -H 1080 \
  -c AVC -ipperiod 2 -intraperiod 30 \
  --rcmode CBR -b 5000

Looking into mismatches of 2 consequent runs, I think that issue is with bit2bit mismatches in B-frames. Looks like frames either match exactly or mismatch, mismatches do not spread on next frames. First few mismatch frames are B.

Hope this

[2017-03-18 16:13] chivakker commented on #84
thanks, we will take a look

[2017-03-20 00:24] lqvnguyen commented on #13
Additionally Windows has support for VC-1 1080i. Why is there no support for this under Linux?

[2017-03-20 05:28] pengche1 opened #95 "HEVC encoding quality improvement on SKL/APL/KBL"
Here re-arch the hevc encoder on SKL/APL/KBL and achieve better quality than legacy hevc encoder

[2017-03-20 21:12] sreerenjb commented on #84
I think B-frame encoding is broken in current master, because my gstreamer-vaapi based test cases showing clear artifacts and macroblock decoding errors. And this is reproducible only for streams encoded with B frames.

[2017-03-21 00:39] xhaihao commented on #84
Could you provide the platform information, such as graphics PCI id? It will help us to narrow down the issue.

[2017-03-21 00:42] dvrogozh commented on #84
I see issue at SKL Skull Canyon i7-6770HQ, GPU dev id is 0x193b.

[2017-03-22 08:01] #73 closed

[2017-03-22 17:40] sreerenjb commented on #84
B frame encode while enabling High profile is the usage scenario which can reproduce the issue. Till now it was only reproducible in SKL. But with today's git master(c0ea9ac2f8f4742a1a038f2c1b2255cf4800c3e6), the issue is reproducible in KBL also, because we started using the same codepath(with new media kernel) of SKL in KBL  too.

[2017-03-23 02:16] xhaihao opened #97 "B-frame encoding on SKL+ is broken in current master"
sreerenjb commented 2 days ago

I think B-frame encoding is broken in current master, because my gstreamer-vaapi based test cases showing clear artifacts and macroblock decoding errors. And this is reproducible only for streams encoded with B frames.

sreerenjb commented 9 hours ago

B frame encode while enabling High profile is the usage scenario which can reproduce the issue. Till now it was onl

[2017-03-24 02:29] #59 closed

[2017-03-24 07:20] xhaihao opened #99 "Use a unified code style in driver source code"
Currently we don't have a unified code style, which make it is harder to read the code and add maintenance cost

[2017-03-24 08:09] QuPengfei opened #101 "wrong type define and cause the memory access error"

[2017-03-26 16:07] #101 closed

[2017-03-27 15:02] chivakker commented on #97
A work around is not sufficient to close a bug.  Re-opening for the root cause analysis to continue.

[2017-03-27 17:59] Davidegb97 opened #105 "GPU crash when playing mpeg2 video using vaapi"
Come from freedesktop bug: https://bugs.freedesktop.org/show_bug.cgi?id=100418
They sent me here:
libva moved and so we no longer have a unified bug tracker!!! https://github.com/01org/intel-vaapi-driver/issues

Every time I play an mpeg2 video (DVD or DVB-T) through vaapi I'm getting this error on dmesg and video playback hangs:
[  431.066005] [drm] GPU HANG: ecode 6:0:0x87e8effd, reason: Hang on

[2017-03-28 02:34] lqvnguyen commented on #13
Update please.

[2017-03-28 02:39] DaveBinM commented on #13
Is there any update on this? I'm getting increasingly frustrated with needing to decode VC-1 in software.

[2017-03-28 16:26] ceyusa opened #106 "HEVC encoder (KBL) fail to process surface with P010 format"
While enabling P010 encoding in gstreamer-vaapi [1], I have ran across with an assert in the driver:

[code]

1. https://bugzilla.gnome.org/show_bug.cgi?id=771291

[2017-03-28 21:34] tmjohns1 commented on #84
With patch to disable dct 8x8 ( Commit 6ec853) still seeing the r2r issue.

avcenc 176 144 176x144-25_1882_seq4.yuv 176x144-25_1882_seq4-1.264 --fb=500 --mode=2

7dd31a573bd61bca949b036b8391f515cbb9cee0  176x144-25_1882_seq4-1.264
7dd31a573bd61bca949b036b8391f515cbb9cee0  176x144-25_1882_seq4-2.264
e0299cad0d36780b16f44c46aafd8439d35c2e6d  176x144-25_1882_seq4-3.264
5c1a2cd0d18af01e655bc7ab85fcaf1

[2017-03-28 21:56] sreerenjb commented on #84
Commit 6ec853 was intended for fixing a different issue, not the r2r  mismatch.

[2017-03-28 22:46] QuPengfei commented on #84
@tmjohns1 . patch to disable dct 8x8 ( Commit 6ec853) fix the #97. that issue cause the B frame quality drop.

[2017-03-29 00:29] #106 closed

[2017-03-29 03:39] QuPengfei commented on #84
it is related to direct_spatial_mv_pred_flag. it should be 1. it is the avcenc issue or middleware issue
https://github.com/01org/libva-utils/pull/29

[2017-03-29 05:22] QuPengfei commented on #84
@xhaihao would you please close it. the fix patch is in libva-utils

[2017-03-29 08:27] zzoon opened #108 "ROI(Region of Interest) of avc encding is broken on the master on SKL/APL/KBL"
Since the commit e9a0038 landed, it seems that ROI is broken.
In addition, a size of produced h264 data with roi is much more (over ten times) than h264 data's size without roi. Is this expected?

I tested with libva-utils/encode/avcenc and KBL.

[2017-03-29 08:29] zzoon commented on #108
I'm sorry for confusing.
I tested on SKL not KBL.

[2017-03-29 08:35] QuPengfei commented on #108
@zzoon yes. new improved AVC encoder on SKL/KBL broken the ROI feature. we have plan to enable ROI under CQP in the next step.

[2017-03-29 09:03] zzoon commented on #108
Thanks for reply, then I should wait for it. Feel free to close this issue.

[2017-03-29 09:26] ceyusa commented on #108
Perhaps it should remain open, as a remainder of a pending task.

[2017-03-29 17:55] tmjohns1 commented on #97
Patch to enable direct_spatial_mv_pred_flag seems to fix r2r issues.
Typical test invocation:
avcenc 176 144 176x144-25_1882_seq4.yuv 176x144-25_1882_seq4-1.264 --fb=500 --mode=2

With the encoded streams showing:
transform_8x8_mode_flag = 0
direct_spatial_mv_pred_flag = 0

sha1sum output:
60995b82fb7d4694caa2b9b98847b8647c936363  176x144-25_1882_seq4-1.264
e0299cad0d36780b16f44c46aafd8439d35c2e6d

[2017-03-29 17:56] tmjohns1 commented on #84
Patch to enable direct_spatial_mv_pred_flag seems to fix r2r issues.
Typical test invocation:
avcenc 176 144 176x144-25_1882_seq4.yuv 176x144-25_1882_seq4-1.264 --fb=500 --mode=2

With the encoded streams showing:
transform_8x8_mode_flag = 0
direct_spatial_mv_pred_flag = 0

sha1sum output:
60995b82fb7d4694caa2b9b98847b8647c936363  176x144-25_1882_seq4-1.264
e0299cad0d36780b16f44c46aafd8439d35c2e6d

[2017-03-30 13:22] tmjohns1 opened #110 "VAAPI driver producing non-conformant AVC bitstream"
When using VAAPI driver with Media SDK, it seems to re-order the AU delimiter following the Supplemental Enhancement Information.  I believe this is in violation of the spec:

“The following constraints shall be obeyed by the order of the coded pictures and non-VCL NAL units within an access unit:
– When an access unit delimiter NAL unit is present, it shall be the first NAL unit. There shall be a

[2017-03-31 01:27] YuJiankang opened #111 "Add the video encoder support for GLK in the intel-driver"

[2017-03-31 14:08] xhaihao commented on #13
@lqvnguyen @DaveBinM unfortunately, we still not root cause the issue.

[2017-04-04 18:48] dvrogozh opened #114 "gcc 4.8.5 reports possibly uninitialized variable in the driver"
gcc 4.8.5 reports possibly uninitialized variable in the driver:
[code]
Looking into the code, this happens in the gen9_avc_set_curbe_mbenc() function which is designed to be workable only on the SKL, BXT and KBL platforms. Please, make sure that the function has a default path for other platforms throwing assertion and error rather than trigger undefined behavior.

I was on the following commit:

[2017-04-05 00:23] xhaihao commented on #114
This issue is gcc related. the issue disappears if you use a newer version of gcc. Yes, gen9_avc_set_curbe_mbenc was designed to be workable on SKL, BXT and KBL and presently gen9_avc_set_curbe_mbenc is only called on SKL, BXT and KBL. A newer version of gcc can handle this case.

[2017-04-05 00:33] yakuizhao commented on #114
Although the issue can be fixed on the newer GCC, it is still reasonable request that the code can be compiled/built correctly on the older GCC version.  The distribution system will use the specific GCC version. We can't ask them to update the GCC version  in order to fix one issue.
So the reasonable fix is to make them be compatible with the old gcc version.

[2017-04-05 01:34] QuPengfei commented on #114
@dvrogozh this file gen9_avc_encoder.c is designed only for Gen9(SKL/KBL/APL). for other platform gen8/7 etc, the other path will be called.

[2017-04-05 03:05] xhaihao commented on #114
@yakuizhao the code can be built correctly with the older GCC

[2017-04-05 04:17] yakuizhao commented on #114
Sometimes the warning is also treated as serious issue on some distribution systems.
So it will be better that the warning is also fixed.

[2017-04-05 05:42] QuPengfei commented on #114
the initialization always happened in the Gen9(gen9_avc_encoder.c), APL/SKL or KBL. so this warning is incorrect.

[2017-04-05 05:44] QuPengfei opened #115 "MVC feature of AVC encoder is broken on SKL/APL/KBL"

[2017-04-05 05:47] QuPengfei opened #116 "SVC feature of AVC encoder is broken on SKL/APL/KBL"

[2017-04-05 05:48] QuPengfei opened #117 "Multi Slice feature of AVC encoder is broken on SKL/APL/KBL"

[2017-04-06 08:27] #115 closed

[2017-04-06 12:01] #117 closed

[2017-04-06 12:08] #116 closed

[2017-04-06 12:15] #108 closed

[2017-04-06 14:23] xhaihao opened #123 "gtest: mvc encoding cases failed on SKL+"
[==========] 580 tests from 16 test cases ran. (73370 ms total)
[  PASSED  ] 568 tests.
[  FAILED  ] 12 tests, listed below:
[  FAILED  ] AVCEncode/AVCEContextTest.RateControl/6, where GetParam() = (VAProfileH264MultiviewHigh, VAEntrypointEncSlice)
[  FAILED  ] AVCEncode/AVCEContextTest.RateControl/7, where GetParam() = (VAProfileH264StereoHigh, VAEntrypointEncSlice)
[  FAILED  ] AVCEncode/AVCECon

[2017-04-06 14:49] #123 closed

[2017-04-07 01:52] #111 closed

[2017-04-07 06:05] yakuizhao commented on #62
The issue will be closed after merging the commit(43a75eaadf2c5226654be438e0223a28f577d27a).

[2017-04-07 06:05] #62 closed

[2017-04-07 06:55] cwhuang commented on #58
I've sent a pull request to fix Android building issue.
Please review: https://github.com/01org/intel-vaapi-driver/pull/126

[2017-04-09 14:19] bengji opened #127 "VAAPI using a lot of GPU resources"
When transcoding with Gstreamer-VAAPI a lot more of GPU resources are being used then Gstreamer-MSDK.

Live Transcode VAAPI: GPU 27%
Live Transcode  MSDK: GPU 6%

VAAPI seems to be using 4 times more GPU then MSDK.

Please see the attached image I took screenshot of both servers.

Environment:

2x identical servers with Xeon(R) CPU E3-1245 v5 SKYLAKE

Server 1 with VAAPI: Ubuntu 16.04
vainfo: Driv

[2017-04-11 05:34] QuPengfei commented on #127
@bengji what is the resolution of input? it looks there is scaling in the pipeline. You can remove the VPP(scaling) and try it again. let us narrow down to decoder/encoder only firstly.

you can try GPU analysis with vtune. it will more accurate.

[2017-04-11 11:58] ceyusa opened #129 "regression when importing dmabuf"
Importing dmabuf from v4l2 camera is broken:

[code]

Failing with VA_STATUS_ERROR_INVALID_PARAMETER

After looking in the code it seems a regression in commit 43a75ea

[2017-04-11 14:45] bengji commented on #127
resolution is 1920x1080, we tried removing vappipostproc and that seems to be the problem, the load went down to 10% from 30%

[2017-04-11 17:36] ceyusa opened #131 "i965_put_surface_dri doesn't display RGBX nor BGRX"
Just as in commit 396bf01a, dri doesn't display correctly RGB surfaces neither.

[2017-04-11 20:10] scott-d-phillips commented on #127
@bengji could you run both pipelines with `-v` and paste the output here? It's possible that the two pipelines are doing different things (something like, one is encoding interlaced constrained baseline profile, and the other is encoding progressive high profile for example).

[2017-04-12 07:53] lqvnguyen commented on #13
Can we have the priority raised for this?

[2017-04-12 11:34] DaveBinM commented on #13
I'd also like to see the priority of this increased, as it's an ongoing issue for me.

[2017-04-12 23:14] bengji commented on #127
@scott-d-phillips I'm using the same source for both VAAPI and MSDK it's interlaced 25 FPS,

I noticed that deinterlace is being inserted automatically and it's making it 50 fps after encoding it.

I tried disabling deinterlace in vappipostproc and then the load seems to be normal similar to what im getting with MSDK.

The bug seems to be when source is interlaced it doubles the framerate automati

[2017-04-13 01:50] chivakker opened #132 "Update buffer fullness and initial distortion buffer information"
VP9 encoder is not setting the proper buffer fullness as it has to be bitrate / 2.  Then the width and height in mb is not correct when building the shader information within intra_dist initialization.  This is causing that the first distortion buffer is all zeroed out and the history buffer uses that distortion buffer on the next inter frames.

This can be tested by analyzing an encoded stream an

[2017-04-13 03:08] #129 closed

[2017-04-13 03:08] #131 closed

[2017-04-13 03:15] xhaihao commented on #127
@bengji so it is gst-vaapi related issue. Per https://gstreamer.freedesktop.org/documentation/contribute/,
could you file a gstreamer bug at http://bugzilla.gnome.org/. I will close this issue as 'not our bug'

[2017-04-13 03:16] #127 closed

[2017-04-13 04:30] #110 closed

[2017-04-13 05:37] #20 closed

[2017-04-13 05:59] #95 closed

[2017-04-13 07:05] YuJiankang opened #134 "Enable HEVC encoder for GLK in the intel-driver"

[2017-04-13 08:48] #134 closed

[2017-04-14 02:11] #132 closed

[2017-04-18 07:19] pengche1 opened #137 "Performance is bad for HEVC low quality encoding"
with quality-level 7, the performance is all most the same as other quality-level. It should be a driver issue. Enhancement of this quality level will be done later

[2017-04-18 20:52] computersalat opened #138 "NEWS file not up to date"
Please update NEWS file.

Thank you :)

[2017-04-19 05:20] #97 closed

[2017-04-19 05:23] xhaihao commented on #138
Merged with v1.8.1 branch

[2017-04-19 05:23] #138 closed

[2017-04-19 08:36] yakuizhao opened #140 "suspicious reference before check in i965_surface_external_memory"
The memory_attribute is used before checking NULL pointer

[2017-04-20 09:10] QuPengfei opened #142 "Enable multi slice of AVC encoder on SKL/APL/KBL/GLK"
The multi slice feature will be enabled

[2017-04-20 09:10] QuPengfei opened #143 "Enable MVC of AVC encoder on SKL/APL/KBL/GLK"
this enable MVC of AVC encoder

[2017-04-20 14:00] #140 closed

[2017-04-24 20:26] seanvk commented on #99
Why was this merged without some review?

If you are going to have a new coding style, it is not enough to say "use this command to format".  People need to see instructions on the style and best practices.  I don't want blindly running some hook to format.

This needs:

1) Documentation
2) Examples/Best practices

As a part of the commit.

[2017-04-25 00:10] xhaihao commented on #99
@seanvk  please check the corresponding PR (https://github.com/01org/intel-vaapi-driver/pull/100), 4 developers reviewed the PR.

The commit updated the coding style part in CONTRIBUTING.md.  Actually most code in the driver follows the Linux coding style with a few changes before the merging. The Linux coding style is well known and people can download the doc from the Internet, so I don't give t

[2017-04-25 17:35] seanvk commented on #99
Okay. I see PR#100 has the necessary reviews. The issue itself was lacking in the details. In the future for a change touching so many files your issue should have more details.

[2017-04-25 17:35] #99 closed

[2017-04-25 22:01] chivakker commented on #87
@fhvwy can you provide some explanation for the need of higher framerate?  This can help me provide a proper fix.  I need to understand your need to go above 60fps.

[2017-04-27 07:38] sammys opened #146 "HEVC encoder produces jumpy video"
HEVC encodes in my setup appear to have encoded frame drops in the same part of every second so it is jumpy in a repetitive way. H264 encodes are smooth.

QP=19
FFMPEG 3.2.4
intel-vaapi-driver and libva HEAD as of 2017-04-20
Ubuntu 16.04

Abbreviated command line:
`/usr/bin/ffmpeg -vaapi_device /dev/dri/renderD128 -i $INPUTFILE -vf format=nv12\\|vaapi,hwupload -qp 19 -map 0:v:0 -codec hevc_vaapi -

[2017-04-27 11:48] #143 closed

[2017-04-27 21:28] fhvwy commented on #146
Might be <https://trac.ffmpeg.org/ticket/5821>?  Try with a more current ffmpeg version or with B-frames disabled.

[2017-04-27 21:31] fhvwy commented on #87
I don't have any specific use-case in mind.  There shouldn't be anything special about any particular framerate, though, so I would regard it as surprising if any number in allowed range of the VAAPI parameters (1/65535 to 65535/1) was not supported.

[2017-04-28 00:34] sammys commented on #146
Disabling B-frames did the trick! Thank you! It seems odd though that not supplying `-bf` also produces jerky video yet ffprobe (version as above) reports there are no B-frames in the stream. Thanks again!

[2017-04-28 01:02] pengche1 commented on #146
@sammys , it seems B frames can't be encoded with FFMPEG vaapi accelerator?  have you try this https://trac.ffmpeg.org/ticket/5821?

[2017-04-28 01:06] QuPengfei opened #147 "Low quality at the first GOP for AVC encoder on the platform previous SKL"

[2017-04-28 01:52] DaveBinM commented on #13
Any chance someone could provide an update on this, please?

[2017-04-28 01:58] sammys commented on #146
@pengche1  That ticket explains setting `-bf` to zero and, as I reported, that trick works. What I meant by my comment is that not using `-bf` on the command line produces a stream that does not contain B-frames yet it is jerky. I find that odd because ffmpeg appears to disable B-frames internally (or vaapi doesn't support HEVC B-frames) when `-bf` is not used yet one gets jerky video unless `-bf

[2017-04-28 02:11] uartie opened #149 "[CHV/BSW] JPEG Encode unit test failures for resolution > 4096"
The following jpeg encode unit test cases where resolution is > 4096 in either dimension fail with VA_STATUS_ERROR_RESOLUTION_NOT_SUPPORTED on CHV/BSW:

Common/JPEGEncodeInputTest.
Full/95  # GetParam() = (Fixed Size 7680x4320, 0x5cfd2d pointing to "I420")
Full/96  # GetParam() = (Fixed Size 7680x4320, 0x5cfd28 pointing to "NV12")
Full/97  # GetParam() = (Fixed Size 7680x4320, 0x5cfd23 pointing to

[2017-04-28 02:13] pengche1 commented on #146
Thanks,@sammy, I have gotten your point, -_-. Vaapi do support HEVC B encoding. You could have a try with gstreamer-vaapi/libyami for HEVC B frame encoding. And none B frame may be a ffmpeg issue. You can talk with them. Thanks!

[2017-04-28 02:26] sammys commented on #146
Thanks, @pengche1. Will look into gstreamer!

[2017-04-28 10:46] fhvwy commented on #146
The error isn't in the B-frame encode, it's in the metadata used by the decoder to decide the amount of buffering to apply to the stream to fix reordering.  That wasn't sufficient, so you get the jerky effect when some B-frames end up being presented after other frames which they were meant to be before.  (Hence the observed behaviour that disabling B-frames removes the issue.)

In any case, as no

[2017-04-29 00:12] sammys commented on #146
@fhvwy Makes total sense. Thanks! I'll look into ffmeg 3.3+ too

[2017-04-29 09:49] sammys commented on #146
Maybe I ought to report this to ffmpeg but since I started things here I'll continue for now and we can work towards a solution. I appreciate the direct guidance I've received in here and the efforts everyone has put in to get VA-API going.

I've given ffmpeg 3.3 a whirl and it has improved things. I've tried `-bf 4` and `-bf 2` on the same video and the setting of 4 is less jumpy than I had when

[2017-04-29 17:56] lqvnguyen commented on #13
_Bump_

[2017-04-29 18:07] cayars commented on #13
This is a problem for me as well as I can't migrate an app from Windows to my NAS or Linux machines where i need it to run due to this issue.

Is there an update or expected ETA on this?  Can you tell us what progress is being made?

Thanks,
Carlo

[2017-04-29 18:19] ChuckPa commented on #13
How about a big

# BUMP

At this rate,  I'll be old, retired, and won't give a rat's xxx  before it makes progress.

[2017-04-30 19:00] fhvwy opened #151 "Regression in H.265 encode performance"
Skylake GT2, transcoding 1080p H.264 input to H.265, CQP = 25, 2 B-frames:

aa77cb71b3a052cffc085aedcdf437a320fb7377 (no quality options):  ~140fps
5471b938d580e0e35227d305d05baa4b74db1402 (quality = 1):  ~45fps
5471b938d580e0e35227d305d05baa4b74db1402 (quality = 0 / default):  ~85fps
5471b938d580e0e35227d305d05baa4b74db1402 (quality = 8):  ~70fps

(Also somewhat odd that the "default" option is f

[2017-05-02 00:17] dvrogozh opened #152 "Feature request for static/dynamic GPGPU EUs slice power on/off to performance benefit encoding/transcoding workloads"
Please, provide an API to enable static and/or dynamic GPGPU slice shutdown (EU slices power on and off). Performance of a number of media workloads suffer from the costs to manage additional EU slices which are not really needed for these workloads (this is related to the length of the wave front). The lower resolution – the smaller wave front and, hence, smaller number of EUs is required. Someth

[2017-05-02 00:33] dvrogozh commented on #152
Here is a feature request to i915 KMD team to support slice shutdown: https://bugs.freedesktop.org/show_bug.cgi?id=100899

[2017-05-02 01:56] LindaYu17 opened #153 "alignment check fails"
in src/i965_drv_video.c
ASSERT_RET(IS_ALIGNED(obj_surface->height,i965->codec_info->min_linear_wpitch),VA_STATUS_ERROR_INVALID_PARAMETER);

obj_surface->height should be aligned with i965->codec_info->min_linear_hpitch but not wpitch.

[2017-05-02 02:00] pengche1 commented on #151
yes, it should be the same issue as #137. Could you try it again with new pull #154?

[2017-05-02 02:18] LindaYu17 commented on #153
already fixed in latest code, close it.

[2017-05-02 02:18] #153 closed

[2017-05-02 22:48] fhvwy commented on #151
c2574ec653dd486dd61759b8f2b800fdf9a1de93 (quality = 8): ~165fps

4K:
aa77cb71b3a052cffc085aedcdf437a320fb7377 (default): ~49fps
c2574ec653dd486dd61759b8f2b800fdf9a1de93 (quality = 1): ~18fps
c2574ec653dd486dd61759b8f2b800fdf9a1de93 (quality = 0 / default): ~25fps
c2574ec653dd486dd61759b8f2b800fdf9a1de93 (quality = 8): ~57fps

So yeah, looks good - close this when that gets merged :)

Related:  Was

[2017-05-03 02:44] mypopydev opened #155 "[BSW] Insert AUD has wrong order in AVC encoder"
More information, you can refer to:

https://patchwork.ffmpeg.org/patch/3544/

I know the commit fd52137 fix this issue in GEN9 (I've verified in SKL with master branch), but GEN8 don't have this fix.

[2017-05-03 05:39] #149 closed

[2017-05-03 07:05] mypopydev commented on #155
BTW:  I think HEVC Encoder insert AUD has the same issue in BSW/SKL

[2017-05-03 07:07] QuPengfei commented on #155
@mypopydev that is correct. we will add the fix later.

[2017-05-03 07:35] pengche1 commented on #151
thanks for your testing. You can choose any level you want. In my opinion, there should not have too much difference of the power consumption between them.

[2017-05-04 01:07] #142 closed

[2017-05-04 07:27] mypopydev opened #156 "[RFC] Enhance multi-ref frame support"
Now VAConfigAttribEncMaxRefFrames only support list 0 == 1 && list 1 == 1,  request more ref frame support in i965 driver.  In most cases, the extra reference frames can improve compression efficiency and/or video quality.

[2017-05-04 23:15] codeathon opened #157 "Does SKL support 10bit HEVC decode?"
Wanted to find out if HEVC 10bit profile is supported for decode on SKL?
The README does not mention it, so wanted to confirm.

[2017-05-05 00:01] uartie commented on #157
The [README](https://github.com/01org/intel-vaapi-driver/blob/master/README) says:

HEVC 10bit     D       BXT+

And in [src/i965_device_info.c](https://github.com/01org/intel-vaapi-driver/blob/master/src/i965_device_info.c#L327), the `.has_hevc10_decoding` is not set for SKL.  So there is no support for HEVC 10bit decode on SKL.

[2017-05-05 00:01] #157 closed

[2017-05-05 00:38] ngeorgis commented on #157
Weird.. I remember I was able to decode HEVC 10bit in hybrid mode (not fixed function like on my Kabylake) using VAAPI.  CPU load was 30% to 40% for 10-bit QFHD HEVC on a Skylake Core i7 6770.

[2017-05-05 00:43] QuPengfei commented on #157
@ngeorgis i think you are using intel media sdk.

[2017-05-05 01:29] ngeorgis commented on #157
No media sdk on this system as I have not patched the kernel yet.

[2017-05-05 01:34] uartie commented on #157
If you're using intel media sdk, it is not compatible with this driver.  See media sdk [README](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/README.md) about that.

[2017-05-05 01:58] QuPengfei opened #158 "AVC encoder has the issue when quality level=1 on SKL/APL"
quality level =1 cause the bad frame. this is regression issue.

[2017-05-05 06:41] lizhong1008 commented on #158
This regression cause bad frame when quality_level=1 and BRC is enabled. No regression for CQP case.

[2017-05-08 07:43] mypopydev opened #161 "[SKL] AVC encoder MB rate control can't work in CBR/VBR mode"
When enable MB rate control (mb_rate_control == 1) in AVC encoder, it's can't work in CBR/VBR mode.

reproduce step:

1. Apply the patch as follow
 in FFmpeg master branch, and build FFmpeg with config "./configure --enable-vaapi", after build finish, the MB rate control can be check with the command:
./ffmpeg -h encoder=h264_vaapi

media@media-desktop:~/Sources/FFmpeg$ cat enable_mbbrc.patch
diff

[2017-05-08 07:55] QuPengfei commented on #161
please try this patch
https://github.com/01org/intel-vaapi-driver/pull/159

[2017-05-08 14:33] YuJiankang commented on #13
We did some analysis, checked all the input/output parameters and made many attempts, but unfortunately, we still can't root cause the issue.we will continue to work on this issue once some urgent tasks on hand are solved, Thanks a lot for your patience and understanding.

[2017-05-09 01:06] mypopydev commented on #161
@QuPengfei This fix is working, verified in SKL, with the master branch.

[2017-05-10 07:19] mypopydev commented on #161
@QuPengfei @xhaihao This fix is working, verified in the SKL

[2017-05-10 07:24] QuPengfei commented on #161
@mypopydev thanks. close this issue.

[2017-05-10 07:24] #161 closed

[2017-05-10 08:14] #158 closed

[2017-05-10 08:44] xhaihao commented on #152
@dvrogozh, do you mean using the debugfs interface in the driver to control the number of slices used in the next created context?

[2017-05-11 03:13] xhaihao commented on #58
Closed as the building issue was fixed by @cwhuang

[2017-05-11 03:13] #58 closed

[2017-05-11 03:16] xhaihao commented on #146
@sammys Is your issue fixed? I'd like to close this issue as it is not a driver issue.

[2017-05-11 04:16] #137 closed

[2017-05-11 04:57] xhaihao commented on #151
Since pengche1's patch got merged in mater, I closed this issue.

[2017-05-11 04:57] #151 closed

[2017-05-11 05:12] #147 closed

[2017-05-11 05:42] sammys commented on #146
Yes, thank you to everyone for their help!

[2017-05-11 05:42] #146 closed

[2017-05-11 06:36] mypopydev opened #162 "[SKL] i965 driver will crash when HEVC encoder setting the multi slices number > 10"
Test with 1280x720 YUV -> HECV multi-slice encode, when number of slices > 10, i965 driver crash.

gdb back trace as follow:

(gdb) bt
#0  0x00007fffee0c0979 in ?? () from /usr/lib/x86_64-linux-gnu/libdrm_intel.so.1
#1  0x00007fffee374271 in intel_batchbuffer_emit_reloc64 (batch=batch@entry=0x555557213c20, bo=0x555500000345, read_domains=read_domains@entry=2, write_domains=write_domains@entry=2, d

[2017-05-11 07:58] SiewHoon opened #163 "[APL] Running AVC encode with lowpower using yamitranscode causing GPU hung issue without HuC firmware loaded"
Without GuC and HuC firmware loaded in for CQP mode, running yamitranscode with lowpower immediately causing GPU hung.

Intel VA Driver master branch:  00fdcd3b9395e6355bdfc793e6f8d793c06b0dd2
Libva master branch:  d829a36cf71ee3bcbeff670fde4287070bb6000a
Libyami and Libyami-utils: 1.2.0 version

Command:
./yamitranscode -i 1920x1080.i420 -W 1920 -H 1080 -c AVC -s I420 --rcmode CQP -b 2000 --lowpo

[2017-05-11 08:08] xhaihao commented on #163
@FocusLuo could you give a try with AVC VDEnc on APL?

[2017-05-11 08:15] FocusLuo commented on #163
Tried on my side, no GPU hang issue found.
Can you help to update your cmd line as below?
./yamitranscode -i 1920x1080.i420 -W 1920 -H 1080 -c AVC -s I420 --rcmode CQP -qp 26 --lowpower -o test264.264 &

[2017-05-11 08:15] SiewHoon commented on #163
FYI. I tested with linux-4.11 with GuC and HuC firmware loaded in APL, the GPU hung issue can't reproduce in CQP mode using yamitranscode.

[2017-05-11 08:20] SiewHoon commented on #163
This is a script that I used:
#!/bin/sh
for i in {1..8}
do
   echo "play $i"
   ./yamitranscode -i 1920x1080.i420 -W 1920 -H 1080 -c AVC -s I420 --rcmode CQP -b 2000 --lowpower -o test264_$i.264 &
done

[2017-05-11 08:41] SiewHoon commented on #163
@FocusLuo , you really can't reproduce the issue without HuC firmware loaded? May I know what is the boot kernel parameter that you are using?

[2017-05-11 08:44] xhaihao commented on #163
@siewhoon VDEnc+CQP doesn't use HuC no matter huc is loaded or not.

The root cause of this issue is that yamitranscode still select CBR mode when both CQP and bitrate are specified in the command line.  VDEnc+CBR doesn't work without HuC firmware loaded.

Although the driver reports CQP only through vaGetConfigAttributes() when HuC firmware isn't loaded, and expect that the middleware uses the ri

[2017-05-11 08:53] FocusLuo commented on #163
@siewhoon Can you help to update your cmd line as below?
./yamitranscode -i 1920x1080.i420 -W 1920 -H 1080 -c AVC -s I420 --rcmode CQP -qp 26 --lowpower -o test264.264 &

[2017-05-11 09:19] SiewHoon commented on #163
@FocusLuo , tried with your command. Yes, it can't reproduce the issue anymore. But according to yamitranscode --help, -qp is optional.  :(

Ok noted, @xhaihao

[2017-05-12 00:58] xhaihao commented on #163
Closed as the issue disappears if using the right command. We use https://github.com/01org/intel-vaapi-driver/issues/35 to track the issue caused by the incorrect config settings.

[2017-05-12 00:58] #163 closed

[2017-05-12 01:47] #114 closed

[2017-05-12 02:53] xhaihao opened #164 "Missed VA_RC_VBR when querying the supported BRC through vaGetConfigAttributes() for VP8 encoding"

[2017-05-12 03:57] #164 closed

[2017-05-14 11:15] fhvwy opened #166 "gen9 H.264 encoder uses mb_rate_control incorrectly"
The va.h header says (va.h:1266):
[code]
The H.264 encoder then does (gen9_avc_encoder.c:427/435):
[code]
and then treats mb_brc_enabled as a boolean thereafter.  This is wrong for mb_rate_control == 2, which should disable it.

(For comparison, the H.265 encoder is correct (gen9_hevc_encoder.c:1702):
[code]
That is: given 0, use a default dependent on the configuration; given 1, enable; given 2,

[2017-05-15 07:30] QuPengfei commented on #166
@fhvwy agree. it should be fixed.

[2017-05-16 05:35] #166 closed

[2017-05-16 08:51] QuPengfei opened #168 "Add the query for MB RC mode for AVC on SKL+"
this support the middle to query the RC mode for MB and use it properly

[2017-05-20 12:26] fhvwy opened #172 "Enabling mb_rate_control kills whole machine (Skylake GT2)"
Build ffmpeg git master with @mypopydev's patch to add the mb_rate_control option: <https://lists.ffmpeg.org/pipermail/ffmpeg-devel/2017-May/211334.html>.

Input file doesn't seem to matter much.  To be consistent I am using the Big Buck Bunny 1080p file here.

Take steps to avoid data loss (remount all data mounts readonly, sync).

Run:
[code]

After some frames (not repeatable between runs, but

[2017-05-20 12:52] fhvwy commented on #172
Behaviour is identical with the 1.8.1 release.

Whether console output appears or not appears to depend on whether the full DRM framebuffer is being used.  If it is, then taking out the GPU kills the output entirely and I don't get anything.  If not, the output doesn't die and gives the log above before locking up.  Maybe a serial console would be able to get more output if there is any (a panic l

[2017-05-22 07:51] #155 closed

[2017-05-26 01:42] laureatian opened #175 "AVC Encoder - ROI with CQP/CBR/VBR"

[2017-05-26 01:46] QuPengfei opened #176 "AVC encoder improvement on BDW/BSW"
This focus on the AVC video encoder improvement on the BDW and BSW platform

[2017-05-26 01:48] laureatian opened #177 "H264 kernel update on SKL/GLK/KBL/APL"

[2017-05-26 01:49] laureatian opened #178 "H264 intra refresh on SKL/GLK/KBL/APL"

[2017-05-26 02:10] QuPengfei opened #179 "HEVC encoer: ROI under CQP/CBR/VBR on SKL/APL/KBL/GLK"

[2017-05-31 01:57] pengche1 opened #180 "HEVC encoder: support Intra Refresh on SKL/APL/KBL/GLK"

[2017-06-01 01:19] Brainiarc7 opened #183 "sigserv/segfaultt observed on /usr/lib/x86_64-linux-gnu/dri/i965_drv_video.so when the VAAPI encoder for VP8 is called up on Skylake"
**Attempting to encode VP8 via the vp8_vaapi encoder on FFmpeg (and liabv) fails on Intel Skylake with a sigserv/segfault:**

First, I built and configured FFmpeg with debugging enabled so as to run a gdb trace and find out what triggers the sigserv:

**FFmpeg build configuration:**

This generates a local FFmpeg build for use with VAAPI only.

Includes extra components as needed:

**Build and dep

[2017-06-01 01:38] QuPengfei commented on #183
Do you reproduce it  without "scale_vaapi=w=1920:h=1080"?

[2017-06-01 01:46] Brainiarc7 commented on #183
Hello @QuPengfei ,

Yes, I was able to reproduce the exact crash without using the vaapi scale filter, as shown below:

[code]

Regards,

Brainiarc7

[2017-06-01 02:28] QuPengfei commented on #183
would you try the latest VAAPI version?

the following command worked well in my side.

ffmpeg -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i ~/workspace/stream/avc-improvement/otc_CBR_1920x1080_blue_sky_2M_ipb_01.h264 -an -vf 'format=nv12|vaapi,hwupload' :v 3000 -c:v vp8_vaapi output_vp8.ivf

Detail info:
ffmpeg version N-85704-gcbfd44a Copyright (c) 2000-2017 th

[2017-06-01 02:33] Brainiarc7 commented on #183
Alright, let me try again with vaapi 0.40.0.

[2017-06-01 02:36] Brainiarc7 commented on #183
I'll be testing against this PPA as it has the latest VAAPI builds for Ubuntu 16.04LTS at the moment.

[2017-06-01 02:40] QuPengfei commented on #183
Also VAAPI driver version is 1.8.0+

here is vainfo
libva info: VA-API version 0.40.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /opt/X11R7/lib/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_0_40
libva info: va_openDriver() returns 0
vainfo: VA-API version: 0.40 (libva )
vainfo: Driver version: Intel i965 driver for Intel(R) Skylake - 1.8.3.pre1 (glk-

[2017-06-01 10:21] ceyusa opened #184 "compilation break using clang"
When compiling latest master of intel-vaapi-driver I got this error message:

[code]

[2017-06-01 15:21] #184 closed

[2017-06-01 21:08] Brainiarc7 commented on #183
Hello @QuPengfei,

It worked!

Upgrading to the latest libva and intel-vaapi-driver package fixed the problem.

I can now comfortably close this issue, and thanks for your time :-)

[2017-06-01 21:08] #183 closed

[2017-06-02 00:58] SentToDevNull opened #186 "VA_CHECK_DRM_AUTH Error Whenever VAAPI is Called"
On my desktop system, I use a dedicated NVIDIA GPU for graphics such as games and would like to use the graphics acceleration on my Intel Kaby Lake CPU with VAAPI to accelerate my ffmpeg encodes. I'm using Debian with non-free packages enabled and all dependencies installed.It's not a problem with Debian because I get the same error when I compile and install libva and intel-vaapi-driver myself.

[2017-06-02 01:24] xhaihao commented on #186
vainfo is trying to access /dev/dri/renderD128 or /dev/dri/card0. but on your machine, /dev/dri/card0 and /dev/dri/renderD128 should be NVIDIA GPU device.

[2017-06-02 02:11] xhaihao commented on #186
You can use '-vaapi_device' to specify the device when using ffmpeg.

[2017-06-02 08:36] VitalyGu opened #190 "Memory leak in jpeg_decode"
### When decoding many jpegs, process memory grow .

example:
`./test_i965_drv_video --gtest_filter=JPEG/FourCCTest.Decode/0 --gtest_repeat=-1`
For 3 minutes it's grow from 8.6MB to 25.3MB.

My investigation show than its near
    ASSERT_NO_FAILURE(renderPicture(context, &huffTableBufId));

Hardware:
ibva info: VA-API version 0.40.0
libva info: va_getDriverName() returns 0
libva info: User request

[2017-06-02 14:26] SentToDevNull commented on #186
@xhaihao Thanks for getting back to me. I currently am using "-vaapi_device" with ffmpeg when I run the following:
`LD_PRELOAD=/usr/lib/x86_64-linux-gnu/dri/i965_drv_video.so LIBVA_DRIVER_NAME=i965 ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -i f.mp4 -vf 'format=nv12|vaapi,hwupload' -threads 8 -c:v hevc_vaapi -preset slower -c:a libopus "f-new.mkv"`

It produces the same VA_CHECK_DRM_A

[2017-06-02 18:06] uartie commented on #190
Good catch!

[2017-06-03 16:07] xhaihao commented on #186
Could you double check whether /dev/dri/renderD128 is a intel device?

$> sudo cat  /sys/kernel/debug/dri/128/name | grep i915

[2017-06-03 16:09] xhaihao commented on #186
Do you mean you still see the same assertion fault after applying https://github.com/01org/intel-vaapi-driver/pull/188?

[2017-06-03 16:11] #190 closed

[2017-06-04 00:15] SentToDevNull commented on #186
Both card0 and renderD128 seem to be the nvidia card. (I don't think that should be happening. I have both the nvidia and intel DRM modules loaded, so one would expect to see both DRI devices.)

[code]

After applying #188, the assertion fault is no longer present. (I hadn't applied #188 before my last comment, sorry.)

Running the same command, I now get the following error though whenever I try

[2017-06-04 11:37] xhaihao commented on #186
Besides card0 and renderD128, is there any other device file in /dev/dri?

[2017-06-04 21:08] SentToDevNull commented on #186
Nope. Just card0 and renderD128.

[2017-06-05 05:21] xhaihao commented on #186
It seems the i915 kernel modules isn't loaded.  Is there a similar message below in your dmesg output?

`[    7.059481] [drm] Initialized i915 1.6.0 20170515 for 0000:00:02.0 on minor 0`

[2017-06-05 20:11] SentToDevNull commented on #186
It shows that the kernel module is loaded:
[code]

When I search dmesg output however, the only drm-related messages are related to the nvidia driver:
[code]

[2017-06-06 04:31] xhaihao commented on #186
Maybe your Intel gpu was disabled. could you attach the output of 'lspci -nn' ?

[2017-06-07 02:30] SentToDevNull commented on #186
Here's the Intel-related output on my system:
[code]

[2017-06-07 02:50] QuPengfei opened #192 "Fix the encoder quality range for AVC/HEVC on SKL+"

[2017-06-08 02:05] xhaihao commented on #186
Your Intel GPU isn't enabled, you should enable your Intel GPU in the BIOS firstly.

[2017-06-08 02:06] #162 closed

[2017-06-12 02:11] #192 closed

[2017-06-12 06:04] #168 closed

[2017-06-12 06:36] #10 closed

[2017-06-12 14:44] xhaihao commented on #11
BDW+ should use 48bit ppgtt. According to the information provided by the reporter, user was using Linux 4.2.0 which didn't enable 48bit ppgtt on BDW+.

[2017-06-12 14:47] xhaihao commented on #11
Closed the bug as 'not our bug'. Please feel free to reopen the bug if you still experience the issue after using a newer Linux kernel.

[2017-06-12 14:47] #11 closed

[2017-06-14 09:02] QuPengfei opened #199 "Multi Ref support for AVC encoder on SKL+"

[2017-06-14 09:03] QuPengfei opened #200 "Multi Ref support for HEVC encoder"
Leave a comment

[2017-06-15 02:33] YuJiankang opened #202 "Add some new features for vp9 encoder on KBL/GLK"
We will try to add the following three features to further enhance the user experience
	Enable temporal scalability.
	Enable MB BRC.
	Enable Multiple Target Usages to provide users with more options.

This issue is used to trace the progress.

[2017-06-15 05:32] YuJiankang commented on #87
I set the frame rate to 127 and it seems I can't reproduce this issue with latest driver code.
@fhvwy

[2017-06-16 05:46] vanvugt opened #203 "intel-vaapi-driver fails to load in a Wayland session"
The Intel i965 VA-API driver works well in Xorg sessions (Unity7 and Gnome Shell). But it refuses to load when in a Wayland session:

$ totem bbb_sunflower_1080p_60fps_normal.mp4
libva error: va_getDriverName() failed with unknown libva error,driver_name=(null)

$ env LIBVA_DRIVER_NAME=i965 totem bbb_sunflower_1080p_60fps_normal.mp4
totem: intel_driver.c:112: intel_driver_init: Assertion `VA_CHECK

[2017-06-16 07:33] xhaihao commented on #203
totem drops write permission before accessing device file, please refer to https://github.com/01org/libva/issues/53. As for gst-play, it seems this is an issue in gst-vaapi.

[2017-06-16 18:55] fhvwy commented on #87
Still happens completely consistently for me with current git (7633739615b39762a10ccc85c3e52aa281e98592).

Encoding at just under 126.9fps with:
`
 ./avconv -y -init_hw_device vaapi:/dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i in.mp4 -an -c:v vp9_vaapi -r 1269/10 -b:v 5M -frames:v 1000 out.webm
`
works perfectly but encoding at 127fps with
`
 ./avconv -y -init_hw_device vaapi

[2017-06-16 19:05] fhvwy commented on #87
Hang log in kernel:
[code]

GPU hang dump: http://ixia.jkqxz.net/~mrt/libva/gpu_hang_dump

(X is running on the same GPU, though it won't be doing anything particularly interesting.)

[2017-06-16 19:13] fhvwy commented on #172
Has anyone been able to reproduce this?  The failure is completely consistent for me, always killing the whole machine when running as above.

Is there anything else I can do to help debug it?

[2017-06-17 09:45] lqvnguyen commented on #13
Update?

[2017-06-18 03:25] andysendo opened #204 "howto get g45-h264 source branch from new release"
g45-h264 source banch is very useful, cant find from this repo, SourceForge.net cant download anymore.

[2017-06-18 16:36] xhaihao commented on #172
@fhvwy we will give a try with your patch.

[2017-06-18 16:47] xhaihao commented on #204
@andysendo, we don't maintain g45-h264 branch any more. you can find g45-h264 branch on people.freedesktop.org/~haihao/libva if you want to use g45-h264.

[2017-06-18 23:52] andysendo commented on #204
Browse people.freedesktop.org/~haihao/libva get 403 Forbidden error.
Howto get the source?

[2017-06-19 00:41] xhaihao commented on #204
Please navigate your browser to https://cgit.freedesktop.org/~haihao/libva/, you will find the branch names in the top of the page and git repo URL in the bottom of the page. You should contact your IT administrator if you are behind a firewall.

[2017-06-19 08:17] YuJiankang commented on #87
@fhvwy
I use the yami for the test with current intel-driver git (7633739).
I set the frame rate to 127 and can't reproduce the gpu hang issue.

I used the following commands:
yamiencode -i ./500F_1920x1080.I420 -W 1920 -H 1080 --rcmode CBR -f 127 -b 4096 -c VP9 -o test.vp9

Is it possible that other encoder parameters(not only the frame rate 127) passed down by the application led to this problem

[2017-06-19 19:09] fhvwy commented on #87
Also happens with current git libyami and intel driver 7633739:
`
tests/yamiencode -i /dev/zero -W 1920 -H 1080 --rcmode CBR -f 127 -b 4096 -c VP9 -o test.vp9
`
hangs the GPU, while
`
tests/yamiencode -i /dev/zero -W 1920 -H 1080 --rcmode CBR -f 126 -b 4096 -c VP9 -o test.vp9
`
does not.

[2017-06-20 08:17] YuJiankang commented on #87
@fhvwy
we use the same command, Can't reproduce this problem in two kbl platforms.
we suspect the Linux kernel version may be related to this issue.
our two platform using linux kernel version  4.12.0-rc2 and 4.8.0-22-generic, and they works well with frame rate 127.
so would you please help try update your Linux kernel? thanks a lot.

[2017-06-20 09:23] fhvwy commented on #87
Currently it's stock 4.9.0-3 from Debian (derived from 4.9.25).  I'll try a 4.12 RC later.

Given that one of your versions is earlier than the one I'm using, are you aware of any specific commits which might be in it which could be relevant?

I'm also curious what GPUs you have tried on - was that a 7500U, or another U-type GT2 which should be similar, or another version entirely?

[2017-06-20 12:03] YuJiankang commented on #87
@fhvwy
thank you for your detailed information, I can reproduce this issue on my platform and got the similar GPU hang log. After the GPU reset, It seems encoded bit stream is still ok with the correct frame rate 127 ,  and I neglected to check the GPU hang log.
we will check more and at least, no hang should be triggered. thanks a lot.

[2017-06-21 14:03] shirokovoi opened #208 "AVC Slice Size Control is missing."
Current intel-vaapi-driver implementation has no ability to set max slice size.

[2017-06-22 01:02] dbermond commented on #186
I'm having this same issue on a similiar setup: a desktop computer with Intel Haswell i7-4790K and a dedicated nvidia GTX 750 card. The nvidia card is being used as the primary display with proprietary nvidia drivers. The monitor is attached to the nvidia card (single monitor setup). OS: Arch Linux x86_64.

Intel GPU is enabled in bios:
[code]

Contents of `/dev/dri`:
[code]

renderD128 is a nvidi

[2017-06-22 08:06] xhaihao commented on #186
@dbermond You should find out why the Intel device isn't created under /dev/dri firstly.  BTW what is in /sys/bus/pci/devices/0000:00:02.0/drm ?

[2017-06-22 16:55] dbermond commented on #186
@xhaihao Thank you for the reply.

Somehow, the proper devices mysteriously appeared on `/dev/dri/`. Can't tell what I did or what happened. Maybe a temporary boot problem? Who knows...
The fact is that now I'm getting this:

[code]

[code]

As you can see, everything seems to be in place now. But `vainfo` and `ffmpeg` are still showing the same errors. Hardware accelerated encoding with intel vaa

[2017-06-23 01:56] xhaihao commented on #186
@dspmeng  vainfo only check /dev/dri/card0 and /dev/dri/renderD128, so it is still showing the errors. I added a new option to vainfo, could you please try https://github.com/01org/libva-utils/pull/46?

$> vainfo --display drm --device /dev/dri/renderD129

[2017-06-23 01:59] xhaihao commented on #186
The VA API version was 0.99, not 0.40.0 in this case,  /usr/lib64/dri/i965_drv_video.so doesn't work with VA-API 0.99

[2017-06-23 02:59] dbermond commented on #186
`vainfo` is working nice after applying [01org/libva-utils#46](https://github.com/01org/libva-utils/pull/46). It works even without specifying `LIBVA_DRIVER_NAME='i965'`. It's a pleasure to see it working now:

[code]

As a suggestion, I think that it would be nice to see these `--display` and `--device` options to be documented. They seem to be somewhat hidden by now. Something like a `--help` sw

[2017-06-23 20:41] montvid commented on #203
try mpv player it does not use gst-vaapi. On my ubuntu 17.04 gst-vaapi lags mpv does not.

[2017-06-25 16:03] xhaihao commented on #203
Thanks @montvid , I closed this bug as 'not our bug'. @vanvugt  Please file a bug on http://bugzilla.gnome.org to track your gst-vaapi issue.

[2017-06-25 16:03] #203 closed

[2017-06-25 16:04] xhaihao commented on #204
@andysendo did you get the source code?

[2017-06-25 23:18] andysendo commented on #204
yes, i get it.
i think its too old so there are some compile error.
i get source from https://aur.archlinux.org/packages/libva-intel-driver-g45-h264/ thats newer and runs ok.

Thanks for help.

[2017-06-26 00:41] #204 closed

[2017-06-26 03:50] vanvugt commented on #203
mpv does not use VAAPI by default. It defaults to high-CPU software decoding (50% CPU). If you force it to use VAAPI (mpv --hwdec vaapi) then performance is excellent (2% CPU). However the same issue remains -- intel-vaapi-driver is only willing to work in a Xorg session but fails in a Wayland session.

This proves that VAAPI works well with ffmpeg (gst-vaapi is not in use). And that the only comm

[2017-06-26 03:53] vanvugt commented on #203
Please reopen this bug. It has been shown to not be an issue that is specific to GStreamer, but occurs with FFmpeg hwaccel too.

Put another way, both GStreamer and FFmpeg playback crashes in the same place inside intel-vaapi-driver when you're using Wayland.

[2017-06-26 06:25] vanvugt commented on #203
Ah, mpv actually seems to reimplement VA-API support independently of ffmpeg's hwaccel architecture. However the important point remains that it's also not using GStreamer. So whatever this bug is, it exists in mpv too...

[2017-06-26 06:46] xhaihao commented on #203
The assertion failure was fixed on master branch weeks ago. Does your wayland compositor support wl_drm interface? You can run weston-info if you is using weston.

$> weston-info | grep drm

[2017-06-26 06:47] xhaihao commented on #203
mpv works for me under Wayland.

$ mpv --hwdec vaapi 720p.mp4
Compiled without libass.
There will be no OSD and no text subtitles.
Playing: vaapi
[file] Cannot open file 'vaapi': No such file or directory
Failed to open vaapi.

Playing: 720p.mp4
 (+) Video --vid=1 (*) (h264 1280x720 29.970fps)
Using hardware decoding (vaapi).
VO: [opengl] 1280x720 vaapi[nv12]

[2017-06-26 06:58] xhaihao commented on #203
gst-play-1.0 works too, the cpu usage is about 2~3.

$ gst-play-1.0 720p.mp4
Press 'k' to see a list of keyboard shortcuts.
Now playing /home/xhh/720p.mp4
Redistribute latency...
0:00:09.7 / 0:05:29.7

[2017-06-26 06:59] vanvugt commented on #203
I'm using Gnome Shell on Wayland....

[code]
but still:
[code]
It only works in a Xorg session still.

[2017-06-26 07:01] vanvugt commented on #203
Perhaps weston-info isn't actually getting that data from Gnome Shell, but the weston binaries (which we're not using).

[2017-06-26 07:11] vanvugt commented on #203
Yes, I can confirm Weston works fine. This bug seems to be Gnome Shell on Wayland only.

[2017-06-26 07:27] vanvugt commented on #203
OK, we have multiple bugs here.

mpv can be made to work in a Gnome Shell Wayland session if you unset $DISPLAY (which is always set for legacy apps to used Xwayland). However that does not fix gst-play-1.0 or totem. Seems https://github.com/01org/libva/issues/53 is still a separate bug for totem. And there might be a third bug for gst-play-1.0.

[2017-06-27 00:22] mypopydev opened #212 "[RFC] support the color space conversion in VPP"
Request support the CSC in vpp for yuv420p10le -> uyvy422.

Test in Kaby Lake as follows:

1. OS and  i965 driver version

root@bluekbl:/home/junzhao/ffmpeg# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 17.04
Release:        17.04
Codename:       zesty

root@bluekbl:/home/junzhao/ffmpeg# vainfo
libva info: VA-API version 0.40.0
libva info: va_getDriver

[2017-06-27 09:09] montvid commented on #203
For wayland support in mpv use --opengl-backend=wayland it works with latest software for sure. Also check out [https://wiki.ubuntu.com/IntelQuickSyncVideo](url) Good luck.

[2017-06-28 05:29] vanvugt commented on #203
Thanks. That seems to further confirm the problem is incorrect detection of Wayland vs X. This works in Gnome Shell on Wayland:  mpv --hwdec --opengl-backend=wayland

I don't really need to check out that wiki page though, because I wrote it :)

[2017-06-28 23:40] fhvwy opened #213 "VP9 encoder rejects width/height not divisible by 8"
The codec supports arbitrary sizes - the MI blocks round the frame size up to the next multiple of 8.

[2017-06-29 03:03] wangzj0601 commented on #84
This issue can not be duplicated on skl platform with the latest libva-utils 1.8.3.pre1
env:
platform : SKL
linux kernel:  4.12.0-rc2
Libva :1.8.3.pre1
Libva- intel-driver :1.8.3.pre1
libva-utils : 1.8.3.pre1
Typical invocation:
avcenc 1280 720 720p5994_parkrun_ter.yuv 720p5994_parkrun_ter.yuv_7500_1.h264 --fb=7500 --mode 2
avcenc 1920 1080 1080p_blue_sky.yuv 1080p_blue_sky.yuv_21_1.h264 --qp=21 -

[2017-06-29 03:06] FocusLuo commented on #84
@wangzj0601 this issue has been fixed, and it can't be reproduced now, can you help to close this issue?

[2017-06-29 03:24] FocusLuo commented on #84
The issue had been fixed and verified on QA side, so closed it.

[2017-06-29 03:24] #84 closed

[2017-06-29 05:11] wangzj0601 commented on #5
This issue can not be duplicated on SKL platform with intel-vaapi-driver 1.8.3.pre1, try 20 times
enc:
platform : SKL
linux kernel: 4.12.0-rc2
Libva :1.8.3.pre1
Libva- intel-driver :1.8.3.pre1
libva-utils : 1.8.3.pre1
Typical invocation:
for i in `seq 1 20`; do ./test_i965_drv_video --gtest_filter=Big/JPEGEncodeInputTest.Full/2; echo "$i PASS" >> zjresult ; done

[2017-06-29 16:16] xhaihao commented on #2
The package related files have been removed, so close it.

[2017-06-29 16:16] #2 closed

[2017-06-30 05:47] FocusLuo commented on #9
1.8.3 release no this issue, so closed it

[2017-06-30 05:47] #9 closed

[2017-06-30 06:33] xhaihao commented on #156
Close this issue and use https://github.com/01org/intel-vaapi-driver/issues/199 and
https://github.com/01org/intel-vaapi-driver/issues/200 to track the support for  multi-ref frame

[2017-06-30 06:33] #156 closed

[2017-06-30 08:21] sebastinas opened #215 "H.264 encoder: SIGFPE in intel_mfc_brc_postpack_vbr"
Forwarding a bug report from @sesse we received in the Debian BTS [#866512](https://bugs.debian.org/866512):

This crash occurs with 1.8.2 and 1.8.3.

[2017-06-30 09:36] QuPengfei commented on #215
From #6, i assumed you were running MediaSDK with open source VAAPI driver. by now they do not work together. Please contact MediaSDK team and ask the help.

[2017-06-30 09:39] sesse commented on #215
What? No, I'm not using Media SDK.

[2017-06-30 10:15] fhvwy commented on #215
This is a bit odd - it looks like you've somehow ended up in VBR mode with a target bitrate of zero (hence integer divide by zero -> SIGFPE).

Can you print the content of mfc_context->brc after the exception there?  It would also be interesting to know what happened before that point - is this the first frame?

[2017-06-30 10:26] fhvwy commented on #215
Aha, I think I see the problem.  Have you told the rate controller that you aren't going to use any B-frames (ip_period == 1), but then are encoding a B-frame?  The rate controller will have allocated zero bits to B-frames, which then gives the divide by zero here.

[2017-06-30 10:28] sesse commented on #215
FWIW, I run with constant quantizer (so target bitrate shouldn't matter). My ip_period is 3, and I should communicate this down. My code is based on the H.264 encoder example; you can see it here:

https://git.sesse.net/?p=nageru;a=blob;f=quicksync_encoder.cpp;h=f7e1696ab9f13419f182ed03a556e2e913c2c1b1;hb=HEADhttps://git.sesse.net/?p=nageru;a=blob;f=quicksync_encoder_impl.h;h=bc84e0adc7280beadb9e1

[2017-06-30 11:05] QuPengfei commented on #215
@sesse Aha, sorry. i mixed it. :(

The inpu RC mode is CQP and the call stack show it run into the VBR mode. i can not open the link. it show the error.
400 - Invalid hash base parameter

[2017-06-30 11:06] sesse commented on #215
I edit the comment to fix the links; please try again.

[2017-06-30 11:25] QuPengfei commented on #215
Do you set the rc_mode with value -1 defaultly? if so, the VBR mode will be assigned.

 881     if (attrib[VAConfigAttribRateControl].value != VA_ATTRIB_NOT_SUPPORTED) {
 882         int tmp = attrib[VAConfigAttribRateControl].value;
 883
 884         if (rc_mode == -1 || !(rc_mode & tmp))  {
 885             if (rc_mode != -1) {
 886                 printf("Warning: Don't support the specified Ra

[2017-06-30 12:04] sesse commented on #215
Look at lines 889–891; it goes through the list of available modes (where CQP has first priority in the array) and assigns the first one that works. So the rc_mode should be CQP, unless VA-API stops advertising it (which I haven't checked).

[2017-06-30 14:15] xhaihao commented on #215
@sesse 1.7.3 doesn't support VBR so CQP has first priority, but 1.8.0+ supports VBR, so VBR has first priority now, you should provide right VBR related parameters or change the array.

[2017-06-30 14:26] sesse commented on #215
Ah. I should just hard-code CQP, but that explains it. I'll keep the bug open until I can verify it fixes the issue.

[2017-06-30 15:01] #199 closed

[2017-06-30 21:59] sesse commented on #215
You're right, hard-coding CQP works. Thanks for the investigation!

[2017-07-02 16:58] piotrasd opened #217 "High Frame Rate video - loosing/skiping frames"
Hi
im using latest intel-vaapi-driver 1.8.3
(kernel 4.12rc7 and 4.11)
mesa 17.1.4
xf86-video-intel - latest git

and tested with kodi, and latest chromium
video playback

Im noticed - movies HFR - with 60fps in 4k dropping skipping frames

here sample:
https://www.sendspace.com/file/8cryl0

rest i think you can test on Youtube
some videos was 4k VP9 HFR - but not possible in HFR watch, was fine
wh

[2017-07-04 03:42] QuPengfei commented on #212
the VAAPI driver does not support conversion yuv420p10le -> uyvy422 directly. maybe we can try to work around  it by yuv420p10le(P010)-> NV12->uyvy422.  we will give a try-patch later.

[2017-07-04 05:37] QuPengfei commented on #217
@piotrasd would you try it with yamidecode, which is a locale tool ?
https://github.com/01org/libyami
https://github.com/01org/libyami-utils

[2017-07-04 05:43] QuPengfei commented on #217
@piotrasd i can not open the link. https://www.sendspace.com/file/8cryl0
it show "This site can’t be reached"

[2017-07-04 15:34] mausspb opened #218 "error while install from src - 'struct VADriverVTableWayland' has no member named 'has_prime_sharing'"
I try install vaapi driver in docker ubuntu, command -

And i get next error message :

What is the problem?

[2017-07-04 18:51] Brainiarc7 commented on #172
I'll test this on a similar workstation and report back.

[2017-07-05 13:38] lizhong1008 commented on #212
After debugged ffmpeg (./ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format uyvy422 -i The_World_in_HDR_in_4K_HDR10.mkv -f null /dev/null) and double-confirmed with @mypopydev , I found ffmpeg didn’t call libva VPP interface (VAEntrypointVideoProc) . The color space convention is done by vaGetImage in the decoder thread. And driver implementation of vaGetImage already s

[2017-07-05 20:10] uartie opened #219 "v2.0 compile error in test"
On v2.0-branch, with `--enable-tests `, the tests fail to compile with GCC >= 6.  This is due to libva deprecated warnings and the tests are compiled with `-Wall -Werror`.  Older GCC versions do not appear to treat deprecated-declarations as errors even with `-Wall -Werror`.

[code]

[2017-07-05 23:06] sebastinas opened #220 "Missing source for shaders"
It appears as if the released tarball and the git repository do not contain sources for all (compiled) shaders. For the 1.8.3 tarballs the sources are missing for

[code]
(List taken from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=867340)

Also, when looking at the current master branch, some sources are missing. If you one deletes all compiled shaders contained in the repository, at least

[2017-07-06 05:20] QuPengfei commented on #220
@sebastinas That is true there are no source codes for some shaders. it have been long time. Actually, for some reason, some source of shader are private and not allowed to upstream. Maybe you can understand this situation.

[2017-07-06 08:12] sebastinas commented on #220
This is unfortunate and a very serious issue for Debian (see [DFSG](https://www.debian.org/social_contract#guidelines)) and we need to resolve this issue somehow. The easiest solution for us - of course - would be the inclusion of the respective sources. But if this is impossible, as you say, Debian has some possible ways forward:

1. We strip shaders without source and disable the code paths that

[2017-07-06 20:04] sebastinas commented on #220
Looks like we also need to add `src/gen9_avc_encoder_kernels.c`, `src/gen9_hevc_enc_kernels_binary.c` and `src/gen9_vpc9_encoder_kernels.c` to the list.

[2017-07-07 03:59] QuPengfei commented on #220
@sebastinas those shaders mainly affect the encoder,such as VP8/AVC/HEVC.

For solution 2,
- is there guide how to move the shaders without source into a non-free package? what is the package name and where to put？
-  what does this solution affect the users or customers?

[2017-07-08 01:51] chivakker opened #222 "vaCreateSurfaces asserts when using a external buffer"
assert is on i965_drv_video.c:1443.

There's an assumption few lines before where height is calculated that data_size is not zero.  Client may not populate it but instead pitches and offsets.  When it is one plane that'll result in height being zero for obj_surface and the assert will be triggered

Please use pitches and offsets to calculate obj_surface->height properly

This is a major regression

[2017-07-08 08:36] sebastinas commented on #220
I don't think there is a guide I can point you to. But what we basically need would be something like:

* The shader package installs all the shaders to same fixed path, say `$datadir/i965-va-driver-shaders` (if the shaders are architecture independent) or `$libdir/i965-va-driver-shaders` (if the the shaders are architecture dependent). The choice probably also depends on the format of the data.

[2017-07-10 02:59] xhaihao commented on #212
yuv420p10le isn't P010, for P010, P010 uses the highest 10bits of 16bits for each channel, however yuv420p10le in FFmpeg uses the lowest 10bits of 16bits for each channel.

[2017-07-10 02:59] xhaihao commented on #212
Our driver doesn't support yuv420p10le format.

[2017-07-10 08:05] xhaihao commented on #218
@mausspb, you should update your libva firstly.

[2017-07-10 08:11] mausspb commented on #218
ok, i try it

[2017-07-11 06:04] xhaihao commented on #222
There isn't an assert() on line 1443 in i965_drv_video.c, which version of intel-vaapi-driver are you using?

[2017-07-11 19:30] sreerenjb commented on #222
Ideally, the middleware should submit the data_size if it trying to create a buffer from  external memory(dmabuf or gem). But nevertheless, it would be good if the driver can calculate the data_size based on user provided VASurfaceAttribExternalBuffers width/height/pitches in case user forgot to populate the data_size, or at least driver should error out.

[2017-07-12 00:29] #5 closed

[2017-07-12 00:30] FocusLuo commented on #5
Based on wangzj0601 comment, this issue can not be duplicated, so closed it

[2017-07-12 05:57] xhaihao opened #224 "The stream is corrupted when using AVC VDEnc CBR/VBR on SKL+"
This is a regression caused by commit ba628dd84573ff8ee3705c9dadb8e881a55f1005 which uses the wrong buffers for DW22-DW27 in VDENC_PIPE_BUF_ADDR_STATE

[2017-07-12 08:04] #224 closed

[2017-07-13 04:17] #179 closed

[2017-07-13 04:18] xhaihao commented on #219
The patch has been merged

[2017-07-13 04:18] #219 closed

[2017-07-13 04:19] xhaihao commented on #218
Does the issue disappear?

[2017-07-13 06:37] #213 closed

[2017-07-13 08:27] xhaihao commented on #215
@sesse, I'd like to avoid SIGFPE for VBR in the driver. I see bitrate, intra_period, ip_period and target_percentage are all set in your code,  it seems it is impossible that mfc_context->brc.target_frame_size[0][slice_type] is 0. I also tried the H.264 encoder example and it works fine for me.  Could you help to debug why mfc_context->brc.target_frame_size[0][slice_type] is 0 in your case?

[2017-07-13 08:29] sesse commented on #215
@xhaihao Most likely the SIGFPE is because I never set a bitrate, yet asked for VBR by accident. It's an invalid configuration, which I've fixed on my side (since I never wanted to use VBR in the first place). So this bug can be closed.

[2017-07-13 08:34] xhaihao commented on #217
@piotrasd could you provide some device info, e.g. the graphics PCI id? You may run the command below
$> lspci -nn | grep VGA

BTW I also failed to access https://www.sendspace.com/file/8cryl0

[2017-07-13 08:55] xhaihao commented on #215
I saw you set bitrate in the following code, did I misread something?

1112     seq_param.bits_per_second = frame_bitrate;

1153     misc_rate_ctrl->target_percentage = 66;

[2017-07-13 09:13] sesse commented on #215
Hm, well, that's odd, yes. I'm unfortunately a bit busy with other things this week, but I can try to answer your question next week? If not, you can download and compile Nageru yourself; 1.6.0 and older should show the issue.

[2017-07-13 09:44] mausspb commented on #218
Hello.
I have paused this task so far, I will return to this task next week.

[2017-07-15 18:24] fhvwy commented on #87
I had another look at this.  I don't think the suggested workaround to reject framerates of 127 or higher is sufficient, because there is also corruption in some other output.

With current git ffmpeg and i965, and Linux 4.11.6 from Debian testing, on Kaby Lake 7500U:
[code]
Gives the output files here: <http://ixia.jkqxz.net/~mrt/i965/vp9/>.

The 60, 70 and 80 fps files look sensible.  The 90 and

[2017-07-18 07:51] xhaihao commented on #186
https://github.com/01org/libva-utils/pull/46 was merged, now user can use '--device <device>' to specify the dri device when drm is used. Per the comments from @dbermond, the VAAPI driver works /dev/dri/renderD129

[2017-07-18 07:51] #186 closed

[2017-07-19 20:52] sreerenjb opened #228 "Add Flexible Encoding Infrastructre(FEI) support in Skylake"
FEI(Flexible Encoding Infrastructure) is an extension to VA API which allows applications to have more control over different phases of encoding and trade off quality for speed with their own IPs.

The main highlight of FEI is the possibility to split the encoding process into two phases, first is ENC and the second is PAK.ENC is the operation which performs all motion vector calculation and predi

[2017-07-20 03:52] wangzj0601 opened #230 "some case failed(bitrate range out of 10%) for Vdenc cbr and vbr on SKL/KBL/GLK/APL"
System Environment
=======
SW:
libyami	1.2.0
APL/KBL/BSW:libva: commit b65a3d9deacb72bd9f96d3e023d4f8ed58bd8d0a
intel-driver:1.8.4.pre1 (commit ae8831fef930a1291eafb2571ea7f4f214ac7964)
SKL/GLK:libva: commit b65a3d9deacb72bd9f96d3e023d4f8ed58bd8d0a
intel-driver:1.8.4.pre1 (commit 7f50a13b4eb93ddd2a52b2ebb1c2f7554c23ccb8)
Libdrm:	2.4.70
xf86-video-intel: 2.99.917
kernel: 4.12.0-rc2 KBL GLK APL BSW

[2017-07-20 14:56] carpalis commented on #13
Intel, please give this bug some more attention. I did some testing on a sample that shows the artifacts. It looks like only B-frames show the artifacts.

[2017-07-21 05:46] #180 closed

[2017-07-21 05:46] #202 closed

[2017-07-21 07:22] zzoon opened #233 "Regression of quality in case of AVC encoded(CQP)"
Hi, I'm from https://bugzilla.gnome.org/show_bug.cgi?id=784318

As per my investigation, the quality of AVC encoded got lower than before even if I set 1 to queality level.
(Currently default is 4 in gst-vaapi, it results in very bad quality in cases in the issue above, and if I set 1 to quality level, it gets better but still not able to meet the pass standard)

If I go back before the commit 481

[2017-07-21 07:22] zzoon commented on #233
In addition, I have tested with libyami and seems I got same result.

[2017-07-21 07:29] xhaihao commented on #233
@FocusLuo  did you see this issue on SKL+?

[2017-07-21 07:53] FocusLuo commented on #233
I guess it is not a regression issue.
You need to use the bitreate-psnr curve to figure out the video quality
You will notify that when you use the commit 481ec15, the encoded bitstream file will consume more less bitrate than pre-commit 481ec15
![bitrate-psnr](https://user-images.githubusercontent.com/7791504/28454137-b2123abe-6e2c-11e7-911e-e8f51581b88d.png)

[2017-07-23 08:07] lqvnguyen commented on #13
Jerome Borsboom Thank you for contributing your knowledge. The community appreciates this.

[2017-07-24 09:11] zzoon commented on #233
@FocusLuo Sorry I don't get it.
Do you mean it has worse quality with the commit 481ec15 than pre-commit 481ec15?
If so, that's exactly what I want to say in this thread.

[2017-07-24 11:37] carpalis commented on #13
I have tried to implement a better integrated version of the patch for more platforms. Please build and try out the code at [carpalis/intel-vaapi-driver](https://github.com/carpalis/intel-vaapi-driver).

[2017-07-25 02:44] xhaihao commented on #13
@carpalis many thanks for the patch, I tried the patch on SKL and it works fine. Could you submit a PR?

[2017-07-25 06:37] lqvnguyen commented on #13
@carpalis Thanks so much for this contribution!!! @xhaihao Are you looking to add this to the drivers for haswell and later generations?

[2017-07-25 06:52] DaveBinM commented on #13
@carpalis Thank you so much for this contribution. I'm very glad to see this long standing issue resolved! :slightly_smiling_face:

[2017-07-25 07:49] carpalis commented on #13
As public documentation for SandyBridge graphics does not include the Command Reference, I could not implement the patch for SandyBridge platform. If someone from Intel could tell me which field in the MFX_VC1_PRED_PIPE_STATE command enables intensity scaling for the forward reference plane, I can implement the patch for SandyBridge. It should be either bit 0 or bit 2 in the last byte of the comma

[2017-07-26 02:11] xhaihao commented on #13
It is bit2 @carpalis

[2017-07-26 03:22] FocusLuo commented on #233
@zzoon , Oh, no, my mean is that the quality is almost the same quality as before from our test result. For quality compare, you need to draft the bitrate-psnr curve between the commit 481ec15 than pre-commit 481ec1.
You can't just focus on only the psnr value. The new commit got the lower psnr, but it also cost more little bitrate than before.

[2017-07-26 05:06] zzoon commented on #233
@FocusLuo Thanks for clarification. I believe you're right.
The reason that I mentioned "quality" is that I can tell the difference of quality of encoded data just by my eyes as human being.

[2017-07-26 05:30] keithah commented on #13
@fritsch said he'll find the sample and report back, thanks!

[2017-07-26 05:32] FocusLuo commented on #233
@zzoon Ok, let me to close this issue:). If you find any other issue in future, please help to open a new one.

[2017-07-26 05:32] #233 closed

[2017-07-26 07:57] carpalis commented on #13
SNB is now also included in the patch set.

[2017-07-26 23:57] stripes416 opened #236 "Intel-vaapi-driver fails to compile on GCC 7.1.1"
[code]

[2017-07-27 23:22] uartie commented on #236
https://github.com/google/googletest/issues/1119

[2017-07-28 01:59] #236 closed

[2017-07-28 04:52] #13 closed

[2017-07-28 08:03] lqvnguyen opened #238 "Intel iGPU VAAPI Support for VC-1 1080i"
Under Windows there is hardware acceleration for VC-1 1080i. Can we look into adding VAAPI support for VC-1 1080i on Linux?

[2017-07-28 18:19] chivakker commented on #87
After checking the design of this, it should only work up to 60 fps.  The driver should return an error when a higher framerate is attempted.

[2017-07-29 20:37] fhvwy commented on #87
What range of framerates are allowed by the proprietary shader binaries, then?  Since the VP9 bitstream doesn't include any metadata for the bitrate/framerate, we should be able to transparently scale to the supported range without the user needing to know.

[2017-07-31 06:43] wangzj0601 opened #240 "gpu hang occurs when run hevc cbr encode quality test on kbl platform"
System Environment
linux kernel:  4.12.0-rc2
system: Ubuntu 14.04
libyami: 1.2.0
libva: commit b65a3d9deacb72bd9f96d3e023d4f8ed58bd8d0a
intel driver: commit7f50a13b4eb93ddd2a52b2ebb1c2f7554c23ccb8

HW:
KBL-U
CPU: Dual core; Genuine Intel(R) CPU 0000 @ 2.60GHz
GPU: PCI ID 8086:5916, GT2
Memory: 6G

Reproduce Steps
1. configure the environment and install the required driver as above
2. run command

[2017-08-01 00:59] wangzj0601 commented on #240
this issue also can be duplicate on kbl nuc platform.

[2017-08-01 01:04] pengche1 commented on #240
@wangzj0601 ,please tell me this issue is caused by which command or in random? thanks!

[2017-08-01 01:09] wangzj0601 commented on #240
@pengche1, I have modified the repro step in bug. FYI.
Reproduce Steps

configure the environment and install the required driver as above
run command yamiencode -c HEVC -s I420 -i /root/media_streams/encoderbitstreams/encoderbitstreams_quality/480P_webRTC_video_conference_640x480_822frames.yuv -W 640 -H 480 --rcmode CBR -b 5000 --ipperiod 2 --intraperiod 30 -f 30 --quality-level 4 -o ./480P_webRT

[2017-08-01 08:54] vanvugt opened #241 "External buffers of factually correct size get rejected by vaCreateSurfaces"
Calling vaCreateSurfaces with:

data_size = 8388608 (0x800000) from drm_gem_open
stride = 7680
width = 1920
height = 1080

fails:

i965_drv_video.c:1507: i965_suface_external_memory: Assertion `(((obj_surface->height) & ((16)-1)) == 0)' failed.

To workaround this failure I need to reduce the data_size to satisfy the above assertion and its sibling that requires 32-row alignment:

data_size -= dat

[2017-08-02 06:51] #241 closed

[2017-08-02 06:52] vanvugt commented on #241
Duplicate of #222

[2017-08-03 15:59] lqvnguyen commented on #238
Similar request previously opened and closed:
https://github.com/01org/intel-vaapi-driver/issues/12

This works under Windows on the same hardware. You really need to consider this as Linux users are not small. They are simply more resourceful and using CPU decoding as a workaround.

Kodi is very big on normal Linux, Kodi for LibreELEC and embedded PMP. These are popular platforms and are only inc

[2017-08-04 05:12] kvpramod91 opened #243 "vaapi compiling issue error: 'struct VADriverVTableWayland' has no member named 'has_prime_sharing'"
i965_output_wayland.c: In function 'va_GetSurfaceBufferWl':
i965_output_wayland.c:267:16: error: 'struct VADriverVTableWayland' has no member named 'has_prime_sharing'
     if (!vtable->has_prime_sharing || (drm_intel_bo_gem_export_to_prime(obj_surface->bo, &fd) != 0)) {
                ^

 wget https://launchpad.net/ubuntu/+archive/primary/+files/intel-vaapi-driver_1.8.3.orig.tar.bz2
./autogen.sh

[2017-08-04 05:21] xhaihao commented on #243
A duplicate of https://github.com/01org/intel-vaapi-driver/issues/218

[2017-08-04 05:21] #243 closed

[2017-08-04 05:26] xhaihao commented on #218
@kvpramod91 could you help to check whether struct VADriverVTableWayland in va_backend_wayland.h has 'unsigned int has_prime_sharing' ?

[2017-08-04 05:33] uartie commented on #218
@xhaihao that's odd... shouldn't configure fail if libva is not at least 1.7.3 (which is when has_prime_sharing was added)?  That is, users shouldn't even get as far as "make".

[2017-08-04 05:47] uartie commented on #218
@mausspb what is the current commit id of intel-vaapi-driver after you "git clone" when this happens?

[2017-08-04 05:48] xhaihao commented on #218
@uartie according to @kvpramod91's description on https://github.com/01org/intel-vaapi-driver/issues/243, the latest libva was installed.

[2017-08-04 06:03] uartie commented on #218
Ah yes, libva from source was probably installed in /usr/local since that is default for autogen/configure prefix but driver does not look there during autogen/configure by default on ubuntu.  Thus it finds system installed libva in /usr/.../x86_64-linux-gnu.

Still seems like there is a configure.ac issue since it should reject system libva.  Was libva API version bumped when has_prime_sharing wa

[2017-08-04 06:18] uartie commented on #218
nonetheless, i can't seem to reproduce.

what version of ubuntu container is this?

[2017-08-08 06:32] #240 closed

[2017-08-08 06:37] pengche1 commented on #240
@wangzj0601 , this patch has been merged. please check this issue again.

[2017-08-10 05:50] #200 closed

[2017-08-10 06:39] #35 closed

[2017-08-10 09:26] wangzj0601 commented on #240
This issue can not be duplicated with then new patch merged on master branch commit 6b26f3fb7367836291db40dd6e36cf6762ab32c8 on kbl platform.

[2017-08-10 16:22] uartie opened #246 "SIGSEGV in i965_CreateConfig since commit 8718ff7dea"
Driver produces SIGSEGV in i965_CreateConfig since:

PR #197

commit 8718ff7dea8485aba2c67350521ae8d00e118d75
Author: Pengfei Qu <Pengfei.Qu@intel.com>
Date:   Thu Jun 8 17:55:17 2017 +0800

    add  brc mode check for AVC when creating the config

    v0:this add the RC check for AVC encoder

    Fixes #35

    Signed-off-by: Pengfei Qu <Pengfei.Qu@intel.com>

Steps to reproduce:

$ test_va_api

[2017-08-10 16:24] uartie commented on #246
GDB Stack:

[code]

[2017-08-10 16:53] uartie commented on #246
Clearly, attrib_found is NULL but not checked before using it.  When I fix that locally, there are still some unittest regressions in test/test_i965_drv_video.  Please fix those too.

[2017-08-11 00:08] #246 closed

[2017-08-12 12:19] jkepp opened #248 "Error while compiling... i965_drv_video.c: In function ‘i965_GetConfigAttributes’"
i receive an error while compiling:

`i965_drv_video.c: In function ‘i965_GetConfigAttributes’:
i965_drv_video.c:1105:45: error: ‘struct <anonymous>’ has no member named ‘roi_rc_qp_delat_support’; did you mean ‘roi_rc_priority_support’?
                             roi_config->bits.roi_rc_qp_delat_support = 0;
                                             ^
i965_drv_video.c:1110:45: error: ‘struct

[2017-08-14 02:02] xhaihao commented on #248
Could you please update libva (https://github.com/01org/libva)?

[2017-08-14 14:48] computersalat opened #249 "Missing NEWS for 1.8.2 and 1.8.3"
Can someone please update the NEWS file ... for package maintainer it is good to know what did change and not to spend extra time in doing research ...
Many thanks and kind regards
Chris

[2017-08-16 07:09] xhaihao commented on #249
I merged v1.8-branch into master. Actually you may find the latest update in the latest release tar ball.

[2017-08-16 07:09] #249 closed

[2017-08-17 04:09] #212 closed

[2017-08-18 17:32] nelsoncs-intel opened #252 "gen8_post_processing: optimization for gen8_pp_object_walker"
gen8_pp_object_walker makes an unnecessary function call, checks a
return value that is always zero and makes non-indexed variable
assignments.  All of which occurs inside nested for loops.

Move non-indexed assignments outside the iterative block and inline the
rest. This decreases frame drops for saturating workloads.

[0001-gen8_post_processing-optimization-for-gen8_pp_object.txt](https://githu

[2017-08-18 17:57] chivakker commented on #252
@nelsoncs-intel can you please submit the patch as a pull request?

[2017-08-22 12:13] kwizart opened #256 "Add appdata support for the vaapi-driver"
With appdata files, it's possible to make the "software" application in GNOME or related desktop environment to know if the current hardware might benefit from a particular "driver" (here intel-vaapi-driver).

Please provide us with a way to extract such information (with pciids) for hardware relevant with this project.

Here is a sample about how to use this feature with nvidia and :
https://gith

[2017-08-22 12:42] kwizart commented on #256
As a "side thing" I would request if that would be possible to envision a full-hardware implementation of hw-decode/encode of certain codecs.

The reason is that currently this project is not allowed in Fedora because it might depends on software implementation of some potentially patented algorithm. Having a separate project with only fully hardware implementation would allow to have this in Fedo

[2017-08-23 02:31] xhaihao commented on #248
@jkepp Does the issue disappear?

[2017-08-23 07:44] #228 closed

[2017-08-23 16:25] uartie opened #257 "FEI: Config should only accept VA_RC_CQP for user specified VAConfigAttribRateControl"
i965_CreateConfig accepts any user value for VAConfigAttribRateControl when using VAEntrypointFEI.  It should return VA_STATUS_ERROR_INVALID_CONFIG for anything other than VA_RC_CQP.

[2017-08-24 00:55] #257 closed

[2017-08-29 21:26] chivakker commented on #222
There are still problems with the asserts when input information comes in more that 1 plane.  For 1080p resolution, height is not 16 aligned i.e. 1080 is not aligned while 1088 is.

Can this be revisited?, It looks like the asserts are not really helping here.

[2017-08-30 00:00] chivakker commented on #222
I have the following information coming from the application:  obj_surface height is 360 which is not 16 aligned. tiling is 0 and num_planes are 3.

[2017-08-31 14:16] Queuecumber opened #262 "VP9 Decoding Looks Awful"
No idea whats causing this or if it's something fixable but I am trying to use VAAPI to decode VP9 video and it looks really bad. I grabbed the test video from [here](https://base-n.de/webm/out9.webm) and did two tests in Chromium and in `mpv` both with VAAPI enabled.

In either case I get an image similar to

![screenshot from 2017-08-31 10-13-24](https://user-images.githubusercontent.com/5865387

[2017-09-01 00:48] pengche1 commented on #262
@Queuecumber , it seems it is the similar issue I am working on. could you tell me what version is your Linux kernel? I also have this issue on 4.13-rc7, but it just disappears on 4.12-X.
Also, please lspci | grep VGA and add it in the comment.

[2017-09-04 08:23] pengche1 commented on #262
Could you help me to try this patch #263? thanks!

[2017-09-07 10:44] hsyrja opened #264 "GPU hang in decoding hevc video by using ffmpeg"
GPU hang occurred when hw accelerated decoding is issued by ffmpeg and video codec is Hevc encoded.

ffmpeg command (decode only)
ffmpeg -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -hwaccel_output_format vaapi -I hang.vid -f null -

Tested in Skylake as wel Kabyake i7.

Here is the input video for reproduce the hang.
[hang.zip](https://github.com/01org/intel-vaapi-driver/files/1284329/hang.

[2017-09-08 01:35] xhaihao commented on #264
1.  I saw lots of error messages when using a tool to parse hang.vid
2.  I can't reproduce this issue with gstreamer-vaapi, it seems ffmpeg and gstreamer handle the element errors in different way so they pass different picture parameters and slice parameters to the driver.  You may enable VA tracer by setting LIBVA_TRACE in your environment then check the tracer log.

e.g.  in gstreamer

[48642.9

[2017-09-10 01:44] Queuecumber commented on #262
Yes that seems to be the problem, I was on 4.12-rc(something) when I noticed the issue and assumed I just hadn't played a VP9 video until then. I just booted into 4.12.7 and the same video plays fine with vaapi. So I guess we're calling it a 4.13 regression then. I'd love to test the patch, is this a kernel patch or something else?

[2017-09-10 01:46] Queuecumber commented on #262
Oh and for completeness sake, `lspci | grep VGA` gives

[code]

but ignore the nvidia card I don't use it for the desktop environment

[2017-09-11 00:47] pengche1 commented on #262
#263 is a intel-vaapi-driver patch. it is a potential vaapi driver issue. And it just appears when migrate to 4-13-xx Linux kernel.

[2017-09-13 11:05] mirh commented on #204
I was wondering.. Why g45-h264 has never been 'mainlined' in 6 years?

[2017-09-14 03:00] xhaihao commented on #204
It doesn't play some 1080p videos smoothly.

[2017-09-14 10:15] mirh commented on #204
I have read that can happily be addressed by increasing igp dedicated memory
...
But even if that wasn't the case, why couldn't one just limit acceleration to 720p or lower?

[2017-09-18 01:43] xhaihao commented on #262
I closed this issue because https://github.com/01org/intel-vaapi-driver/pull/263 has been merged, please feel free to reopen this issue or file a new issue if you still experience this issue with master branch.

[2017-09-18 01:43] #262 closed

[2017-09-18 10:54] djdeath commented on #152
We've trying to introduce an ioctl() interface : https://patchwork.freedesktop.org/series/29715/

[2017-09-19 05:48] mypopydev opened #272 "[SKL] H264 encoder multi-reference output video mosaic when refs > 5"
Used gstreamer-vaapi do transcode h264 to h264 , when set refs value > 5 , the output video has mosaic

command : gst-launch-1.0 filesrc blocksize=10000000 location=/home/media/zhouyun/skyfall2-trailer.mp4 ! queue ! qtdemux ! vaapih264dec ! queue ! vaapih264enc refs=6 ! mpegtsmux ! filesink location=test.ts

gstreamer-vaapi version : 2eb2b26ad8d8c3fe9233c9242ae37ebdcec89a3c(libs: decoder: at updat

[2017-09-19 12:50] fhvwy commented on #264
See notes on <https://trac.ffmpeg.org/ticket/6642>.  Maybe something is going wrong around the broken link handling for the initial part of the stream?  (The non-failure with gstreamer seems to come from throwing away everything up to the first IDR frame.)

[2017-09-19 18:45] hsyrja commented on #264
This is how I’ve seen it behaving, always when the stream starts, when the source is live (could start any point of the stream) with a good luck it may start successfully and then it works fine as long as you want.

[2017-09-20 17:53] uartie opened #273 "Convert tests to use vaStr... methods from libva 2.0"
New vaStr... methods are being added in libva 2.0 (01org/libva/pull/117).  Convert the tests to use the new methods instead of internal methods.

[2017-09-21 05:29] xhaihao commented on #272
According to your descriptor, this is a H264 issue, not HEVC issue, could you update the title?

[2017-09-21 12:39] Frank6201141 opened #274 "mapping vaapi buffer slow"
If the number of decoded videos increase, the time-span of gst_buffer_map() increases dramatically.

With 16 h264 full HD videos each mapping needs more than 16 ms.

We map the buffer to copy the video data. The copy itself needs only 1 ms.

We assume the increase of the mapping time is a bug, maybe a concurrency issue. Maybe inside intel vaapi driver, not the gstreamer code.

This issue was creat

[2017-09-21 19:30] fhvwy commented on #274
This is not a bug, the behaviour is exactly as expected.

The decode operation does not contain a synchronisation point on its output - it issues the decode to the hardware, but we only wait for its completion when the output is actually used.  In your case, this first use is at your mapping of the output surface.  A normal 1080p decode takes maybe 2-4ms in isolation, which will give your best cas

[2017-09-27 23:40] chivakker opened #276 "LIBVA_TRACE causes segmentation fault"
$ LIBVA_TRACE=./libva.log vainfo
Segmentation fault (core dumped)

This is before libva-2.0 was merged to master.

[2017-09-28 01:56] xhaihao commented on #276
This is not a driver issue, so I closed it and file a new issue in libva

[2017-09-28 01:56] #276 closed

[2017-09-28 02:10] xhaihao commented on #248
I closed this issue because no response from the reporter. Please feel free to reopen or file a new issue if you still experience this issue.

[2017-09-28 02:10] #248 closed

[2017-09-29 14:53] pauldotknopf opened #279 "What is the different between this repo, and github.com/01org/iotg-lin-gfx-libva?"
Sorry if it seems like a dumb question, but I am having trouble making sense of all these repositories and figuring out which one I should use.

[2017-09-30 01:40] xhaihao commented on #279
https://github.com/01org/libva is the official git repo for libva.

[2017-09-30 09:11] pauldotknopf commented on #279
What is the difference between that repo and this intel-vaapi-driver?

Also, what is this one for? https://github.com/01org/iotg-lin-gfx-libva

[2017-09-30 14:49] xhaihao commented on #279
iotg-lin-gfx-libva is a fork of libva, not intel-vaapi-driver.  libva is an implementation for VA-API and intel-vaapi-driver is an Intel GEN GPU specific acceleration backend driver for libva.

You should ask the owner of https://github.com/01org/iotg-lin-gfx-libva

[2017-10-03 18:27] sebastinas commented on #220
Is there any progress on this issue? Do you need help with implementing a solution?

We should get this fixed before the release of 2.0.0. This could become a major blocker otherwise.

[2017-10-04 09:28] Frank6201141 commented on #274
Hi Mark,

thank you for your reply.

We have done some further investigations for this issue.
If we got it right the mapping operation is the first blocking operation in your case. So it does make sense that this call took longer if we increase the amount of videos.
But in our case we did the measurements in a gstreamer pipeline. In this case there is a delay between the start of the decoding (vaB

[2017-10-04 10:08] fhvwy commented on #274
What is your hardware setup?  The estimated numbers I suggested above for a single decode would reflect a normal desktop or mobile GPU between Gen 7.5 and Gen 9.5 with both memory channels active.  Given that your total throughput based on the graph is only on the order of 200fps, I think something else about your system is making the results worse - I get over 600fps total throughput at 1080p (in

[2017-10-04 13:59] Frank6201141 commented on #274
Our hardware setup is:

ComExpress Module
4th Gen Core
i7-4700EQ
Haswell-H
2.40 GHz
CPUs:  4/8
GPU: HD-4600
Memory Performance (Int GB/s) 15

2 Memory Banks used
Assuming it’s Gen 7.5

If I understand it right, your setup decodes only one video.

In our setup 16 HD videos are running in parallel, with gstreamer.
The pipeline writes/reads several times every stream, means there is a high memory loa

[2017-10-04 14:20] fhvwy commented on #274
That's decoding and downloading 16 1920x1080 H.264 streams simultaneously as fast as possible.  Each stream gets about 40fps, for total throughput of around 640fps.

I don't know anything about gstreamer, so I can't comment on what to do there.

[2017-10-05 14:10] xhaihao commented on #274
@Frank6201141 AFAIK, vaGetImage() is used in gst-vaapi, which means there are some other operations besides decoding.

[2017-10-05 14:17] xhaihao commented on #220
You will be appreciated if you could help to implement it.  BTW this is not an API/ABI compatibility issue, so I'd like to fix it in 2.x.x, not in 2.0.0.

[2017-10-11 13:20] Frank6201141 commented on #274
OK, you achieve a throughput of 640 fps in your setup with ffmpeg.
We achieve less than 480 fps throughput in our setup with gstreamer.

So we are back to the first question, why the mapping call gst_buffer_map() needs up to 16 ms?

You say, you know nothing about gstreamer, but the gstreamer people confirmed our measurement and told us to fill an issue in intel-vaapi-driver.
Please see again http

[2017-10-11 17:14] xhaihao commented on #274
@sreerenjb In order to get the output data, is vaGetImage() or veDeriveImage() used in gstreamer-vaapi?

[2017-10-11 18:07] sreerenjb commented on #274
@xhaihao gstreamer-vaapi has bit complicated logic based on different use cases. The internal GstVaapiVideoMemory uses both vaGetImage and vaDeriveImage based on circumstances, mainly depends on capabilities of downstream/upstream elements (for eg: where there is a need of implicit CSC, whether there is a software vpp element in the middle which requires write permission etc).
Usually "..vaapiXXXd

[2017-10-12 16:43] xhaihao commented on #274
I think vaGetImage() is used in Frank6201141's setup, otherwise copy is slow because reading data from tiled graphics memory is slow.

@Frank6201141 vaGetImage() is not used in fhvwy's setup. vaGetImage() is an expensive operation, we did some optimization for vaGetImage() on master, you may give a try. But even with the optimization, I don't think you can get a similar result with ffmpeg setup.

[2017-10-16 15:33] MatMaul commented on #262
Any chance to see 1.8-branch updated with this kind of bugfixes integrated ? If I understand correctly we need libva v2 for master, which could take a while to reach various downstreams.

[2017-10-16 16:48] xhaihao commented on #262
I cherry-picked some patches including the patch to fix this VP9 issue from master to v1.8-branch.

[2017-10-16 17:24] sebastinas commented on #220
You can follow the progress at https://github.com/sebastinas/intel-vaapi-driver/tree/external-kernels

[2017-10-16 19:35] MatMaul commented on #262
Awesome thanks :) Do you plan to tag a new 1.8.x bugfix release at some point ?

[2017-10-17 22:15] asquared opened #284 "VP9 CBR video corruption"
Garbled output is produced near a dissolve from a fullscreen graphic when encoding to VP9 on Kabylake at constant bitrate using FFmpeg. I attempted to reproduce this using vp9enc from vaapi-utils, but was unable to do so. Also I'm not able to reproduce using any other vaapi codec.

Here's the input (h.264) file, resulting VP9 output (garbled around 8 seconds in) and the ffmpeg log:
 [vp9bug.tar.gz

[2017-10-17 23:37] xhaihao commented on #284
@lizhong1008 It is most likely an issue in FFmpeg,  could you help to look into this issue?

[2017-10-18 00:15] asquared commented on #284
I had already opened https://trac.ffmpeg.org/ticket/6755 on the ffmpeg side.

[2017-10-18 01:44] #279 closed

[2017-10-18 02:50] #273 closed

[2017-10-18 09:21] lizhong1008 commented on #284
Looks like a driver issue.  I tested with different bit rate(8800k, CBR)
./ffmpeg -vaapi_device /dev/dri/renderD128 -i /root/vp9bug/test.mp4 -vf "format=nv12,hwupload,deinterlace_vaapi,scale_vaapi=w=1920:h=1080" -c:v vp9_vaapi -b:v 8800k -bufsize 17600k -maxrate 8800k -g 150 -keyint_min 150 -bf 1 -bsf:v vp9_raw_reorder,vp9_superframe -y -an -f webm -dash 1 -r 30 vp9_v8800_CBR.webm

 and tested wit

[2017-10-18 11:33] asquared commented on #284
I can reproduce the garbled output at 8800k CBR if I remove "-r 30". I can produce correct output at 4400k CBR if I change "-r 29.97" to "-r 30". I wonder if this is related to #87.

It's not clear to me why the framerate should have any effect at all on the VP9 bitstream produced... shouldn't this be just a piece of metadata added by the muxer in ffmpeg?

[2017-10-18 11:36] asquared commented on #284
Also, even with "-r 30", the bitrate is lower than expected in VBR mode.

[2017-10-18 11:42] asquared commented on #284
I can also produce garbled output at 30fps under some conditions. Will post a reproduction soon.

[2017-10-18 14:51] asquared commented on #284
I think the frame rate was a red herring. I get similar output with or without -r 30. Reproduction is more dependent on CBR bit rate. Input, outputs, and ffmpeg logs: [test_20171018.tar.gz](https://github.com/01org/intel-vaapi-driver/files/1395035/test_20171018.tar.gz)

I tried both of these with the -r 30 option as well. No difference in the output; playback freezes at 8 seconds in Chrome and VLC

[2017-10-18 16:49] xhaihao commented on #284
please double-check the code below in vaapi_encode.c in FFmpeg

either line 1197-1198 or line 1200-1201 is wrong

[2017-10-18 16:55] xhaihao commented on #284
so line 1200-1201 is wrong. it should be

[2017-10-18 17:45] asquared commented on #284
I think that the flipped den/num is deliberate there. time_base has units of seconds, so this is taking 1/time_base to get the frame rate in fps in the case where framerate is not set.

[2017-10-18 23:23] xhaihao commented on #284
@asquared  yes, you are right. I should check the code more carefully.

[2017-10-19 01:40] lizhong1008 commented on #284
Bitrate (bits/second) is passed to driver, and driver need to calculate how many bits should be assigned to each frame, then the framerate should be known. Refer:
https://github.com/01org/intel-vaapi-driver/blob/master/src/gen9_vp9_encoder.c#L1070

[2017-10-19 01:41] lizhong1008 commented on #284
It's not clear to me why the framerate should have any effect at all on the VP9 bitstream produced... shouldn't this be just a piece of metadata added by the muxer in ffmpeg?
Bitrate (bits/second) is passed to driver, and driver need to calculate how many bits should be assigned to each frame, then the framerate should be known. Refer:
https://github.com/01org/intel-vaapi-driver/blob/master/src/ge

[2017-10-19 01:42] lizhong1008 commented on #284
Bitrate (bits/second) is passed to driver, and driver need to calculate how many bits should be assigned to each frame, then the framerate should be known. Refer:
https://github.com/01org/intel-vaapi-driver/blob/master/src/gen9_vp9_encoder.c#L1070

[2017-10-19 14:53] asquared commented on #284
of course, sorry for the stupid question :)

[2017-10-22 18:59] Ristovski opened #288 "multiple definition of 'gen9_hevc_encoder_kernels'"
When compiling the latest master (also happens on 2.0.0 release), the compile fails with the following:
[code]

Using libva from git.
GCC 8.0.0

[2017-10-23 17:55] stripes416 commented on #288
Is GCC 8.0 distributed by any distro at this point?

[2017-10-24 09:07] LSL1337 commented on #176
on version 2.0 this was addressed.
Is there a remote possibility, that haswell will get this kind of support as well?
Is haswell very different to broadwell?

thanks!

[2017-10-27 15:32] carpalis commented on #238
Good news: I have been working on implementing VC-1 interlaced hardware decoding. You can find the code in my GitHub repository: carpalis/intel-vaapi-driver in branch vc1interlace or vc1interlace-1.8

You will need to build a new libva and ffmpeg which are also in my repository. I have got to the point that I can play the Kodi 1080i sample file VC-1_29.970_sample.mkv without issues on Haswell plat

[2017-10-30 20:06] sebastinas commented on #220
FWIW, a build with that patch set is not available in the Debian archive. The extra shared library is still awaiting review by our FTP masters.

[2017-11-01 06:09] lizhong1008 commented on #284
After analysis,  it should be a driver issue, which only happens with some special bitrate and clips (At least the CBR case it is). So assign it to @xhaihao.

[2017-11-02 03:30] QuPengfei commented on #176
HSW will not be improved in the plan. yes, GPU is different between  HSW and BDW.

[2017-11-02 06:14] #176 closed

[2017-11-03 23:13] sreerenjb commented on #274
We fixed the issue in middleware. Please close the bug.

[2017-11-04 15:05] #274 closed

[2017-11-06 08:07] pauldotknopf opened #290 "segfault when rendering black frame (YV12) buffer."
My application crashes when rendering a YV12 buffer where all Y's have a ```0x00``` value.

[code]

This is what I do to reproduce the issue.

[code]

This version works.

[code]

Notice the value I set to ```data[index]```.

Here is my driver info from ```vainfo```.

[code]

[2017-11-06 15:41] ceyusa opened #291 "add meson support"
Add support for meson as compilation method

[2017-11-08 20:26] Hagbard-Celin opened #293 "Fails with "DRM_IOCTL_I915_GEM_APERTURE failed: No such file or directory" when i915=/dev/dri/card1 & radeon=/dev/dri/card0"
I get this error when running test_va_api or vlc playback with LIBVA_DRIVER_NAME=i965 when i915.ko is /dev/dri/card1 and radeon.ko is /dev/dri/card0:
"DRM_IOCTL_I915_GEM_APERTURE failed: No such file or directory"
Before I set LIBVA_DRIVER_NAME vlc complained:
"vaapi_drm error: Failed to initialize the VAAPI device"
The errors go away if I jump trough a lot of hoops to force the kernel to load i91

[2017-11-09 05:15] lizhong1008 commented on #284
The garbed picture has an error TX_MODE though driver set it to be TX_MODE_SELECT. This issue only happens on key frame of some special clips with specific bitrate.  So it is a driver issue,  @xhaihao could you help to check it?

[2017-11-09 05:16] lizhong1008 commented on #284
@asquared before this issue is fixed, maybe you can try a larger key frame period (e.g set -g 200 or 250) as workaround.

[2017-11-09 08:25] lqvnguyen commented on #238
What else do you need for testing?

[2017-11-09 15:06] estimadarocha opened #294 "after git pull to try the upgrade from 0.40.1 to new 2.0 i get this:"
root@BitFenix:~# vainfo
error: can't connect to X server!
libva info: VA-API version 0.40.1
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/local/lib/dri/i965_drv_video.so
libva info: va_openDriver() returns -1
vaInitialize failed with error code -1 (unknown libva error),exit

[2017-11-09 15:27] uartie commented on #294
did you recompile vainfo from https://github.com/01org/libva-utils?

[2017-11-09 15:44] estimadarocha commented on #294
@uartie no! is it needed?

[2017-11-09 16:04] uartie commented on #294
yes

[2017-11-09 16:04] #294 closed

[2017-11-10 07:25] carpalis commented on #238
I have been using the code for the last to weeks to watch my VC-1 1080i content through Kodi. All the content showed no glitches or other problems when hardware decoding on my gen75 hardware. The best thing people could do is just compile and use the code and report back if anything is not decoded cleanly in hardware.

I will submit a pull request in the coming days to get this stuff into mainline

[2017-11-10 18:56] asquared commented on #284
-g 250 allows me to produce CBR files with correct bitrate (with -g 150 I got about half the expected bitrate). But in some cases I still see corrupted output with -g 250.

Is there a way to detect this corruption in the bitstream? Even if there's no fix yet, it'd be helpful to identify this problem without having to watch the video.

[2017-11-11 14:56] chivakker commented on #262
@MatMaul there's no plan to cut another release on the 1.8.x family.  Can you carry this patch as an exception on your setup?

[2017-11-13 09:46] lizhong1008 commented on #284
One suggestion may be help: 1. calculate the average psnr of this video.  2. compare the psnr value between the the average psnr value and psnr of each frame.  3. if the delta_psnr is larger than some  threshold value  (8 db, for example), then return a fail message and report this frame number.

[2017-11-13 09:46] lizhong1008 commented on #284
Is there a way to detect this corruption in the bitstream? Even if there's no fix yet, it'd be helpful to identify this problem without having to watch the video.
One suggestion may be help: 1. calculate the average psnr of this video. 2. compare the psnr value between the the average psnr value and psnr of each frame. 3. if the delta_psnr is larger than some threshold value (8 db, for example), t

[2017-11-13 09:47] lizhong1008 commented on #284
One suggestion may be help: 1. calculate the average psnr of this video. 2. compare the psnr value between the the average psnr value and psnr of each frame. 3. if the delta_psnr is larger than some threshold value (8 db, for example), then return a fail message and report this frame number.

[2017-11-14 05:35] op8867555 opened #297 "VP9 decoding looks bad with DASH videos"
Hi there

I' m getting gray boxes like #262 when playing back DASH VP9 videos.
It can be reproduced on chromium by changing video quality while playing back a VP9 youtube video. It doesn't happens with a fixed resolution video, so I open this as a separated issue. There are a few people can confirm this[^1].

It can be also reproduced on mpv by playing a WebM video contains video segments have dif

[2017-11-14 08:38] xhaihao commented on #297
Please give a try with https://github.com/01org/intel-vaapi-driver/pull/296

[2017-11-14 13:57] op8867555 commented on #297
I just tried v2.0.0 patched with #296. So far it hasn't happened again, I think #296 solved this issue.

[2017-11-14 21:47] maximbaz commented on #297
One other person and I both confirm that #296 fixes this issue - thanks!

[2017-11-16 09:29] lizhong1008 commented on #284
That's for reporting this. It is so helpful to find out the root cause.  I've sent a patch to fix it.

[2017-11-16 16:47] sesse opened #299 "4:2:2 or 4:0:0 support for encoding"
Hi,

I have multiple capture cards giving 4:2:2 video at a high rate that I would like to send on in realtime and in high quality. VA-API would be perfect for this (probably using intraframe-only H.264 at a high bitrate), except that the Intel driver seems to be locked to 4:2:0.

I considered making my own private format with three monochrome channels, ie., encode Y, Cb and Cr as three separate st

[2017-11-16 19:55] xhaihao commented on #299
You may give a try with jpeg encoding if you are interested in intraframe-only. JPEG encoder supports YUY2 and VYUY formats, please refer to https://github.com/01org/libva-utils/blob/master/encode/jpegenc.c

[2017-11-16 21:32] sesse commented on #299
H.264 is significantly better quality than JPEG, but sure, it's interesting. However, I'm on Haswell, and JPEG encoding didn't arrive before Skylake (well, Braswell, but for regular desktop chips…).

[2017-11-17 15:22] araani opened #300 "GStreamer VA API multi-stream decode with H264 not more supported for APL"
According to a recent Intel release note multi-stream H264 decoding is not more supported on Intel Apollo Lake (APL) E39XX, N3350 and N4200

The document in question:

Intel Atom® SoC E3900 Family, Intel® Celeron® Processor N3350, and Intel® Pentium® Processor N4200 Board Support Package for Yocto Project*—MR3.1 Release

3.2.5 Unsupported or discontinued features (p17)

Can somebody confirm/clarif

[2017-11-17 18:34] xhaihao commented on #300
Sorry, I don't have such information. We focus on intel-vaapi-driver and libva only, you should check with the owner of MR3.1

[2017-11-17 18:34] #300 closed

[2017-11-17 18:36] xhaihao commented on #299
We don't have plan to support h264 encoding with 4:2:2 or 4:0:0 format

[2017-11-17 18:36] #299 closed

[2017-11-21 17:24] uartie opened #301 "Consider adding stricter compiler flags"
Consider adding `-Wall -Werror` as default compiler flags in project.  This will encourage better coding practices.

[2017-11-27 11:19] tuxutku opened #303 "can't compile on clear linux"
i am trying to get those files:
        libva.so.1
	libva-x11.so.1
	libva-drm.so.1

And those files exist:

utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ find /usr -name libva*
/usr/lib64/libva-x11.so
/usr/lib64/libva.so
/usr/lib64/libva-x11.so.2.0.0
/usr/lib64/libva-drm.so.2.0.0
/usr/lib64/libva.so.2
/usr/lib64/totem/plugins/variable-rate/libvariable-rate.so
/usr/lib64/libva-drm.so
/usr/lib64/lib

[2017-11-27 11:39] tuxutku commented on #303
also compiling from 1.8 branch gave me this error:
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~/Programlar/intel-vaapi-driver-1.8-branch $ ./autogen.sh
ln: failed to create symbolic link '.git/hooks/pre-commit': No such file or directory
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal
autoreconf: configure.ac: tracing
autoreconf: run

[2017-11-27 17:45] xhaihao commented on #303
1. The first part is libva related which is the duplicate of https://github.com/01org/libva/issues/152.  Could you file any libva issue on https://github.com/01org/libva/issues?

2. please build libva 1.8.x first if you want to use intel-vaapi-driver 1.8.x. intel-vaapi-driver 1.8.x doesn't work with libva 2.0.x, sorry for the inconvenience.

[2017-11-27 18:46] xhaihao commented on #303
Please try the latest libva master

[2017-11-27 19:00] xhaihao commented on #301
Close this issue because the strict compilation flags aren't consistent across different versions of GCC.

[2017-11-27 19:00] #301 closed

[2017-11-27 19:34] xhaihao commented on #293
Sorry for slow response, does 'vainfo --display drm --device /dev/dri/renderD129' work for you?

[2017-11-27 19:35] xhaihao commented on #290
sorry for slow response, could you provide a simple test case?

[2017-11-27 19:37] pauldotknopf commented on #290
I could provide a boot-able image which reproduces this (yocto). Would this work for you?

[2017-11-27 19:45] pauldotknopf commented on #290
I haven't generated backtrace for kernel modues before, let me look into it.

[2017-11-27 21:22] xhaihao commented on #290
Do you mean the crash occurs in kernel module? I thought you are talking about user space driver issue.

[2017-11-27 21:23] pauldotknopf commented on #290
Actually, you might be right. It is the i965_dri.so library.

I am working right now getting you a backtrace.

This is very important to our company, and i appreciate you looking into this.

Stay tuned for the backtrace.

[2017-11-27 21:26] xhaihao commented on #290
i965_dri.so is the 3D driver for Intel Gen Graphics, I think you should talk to Mesa guys.

[2017-11-27 22:19] xhaihao commented on #290
I close this issue because this is not a intel-vaapi-driver bug.  please file your 3D driver related issue on https://bugs.freedesktop.org.

[2017-11-27 22:19] #290 closed

[2017-11-28 00:34] #297 closed

[2017-11-28 00:46] xhaihao commented on #288
@Ristovski It seems the PR you submitted for this issue was closed because the corresponding branch doesn't exist any more,  could you help to resubmit your PR?

[2017-11-28 02:22] pauldotknopf commented on #290
I will start an issue on the other forum. For the same of being thorough, I found the line causing the issue.

https://cgit.freedesktop.org/mesa/mesa/tree/src/mesa/drivers/dri/i965/intel_tiled_memcpy.c?id=mesa-17.0.2#n509

Here was the output.

[code]

[2017-11-28 09:25] Hagbard-Celin commented on #293
No, this is the result I'm getting:
[code]
It works if I replace every occurrence of "card0" and "renderD128" with "card1" and "renderD129" respectively in libva, libva-utils and libva-intel-driver sources, and recompile. In VLC I still have to change to va-via-X11 for it to work, va-via-drm gives the same error even with the adjusted sources.
It seems to me that when selecting the Intel driver wi

[2017-11-28 12:57] MatMaul commented on #262
@chivakker I can just use the branch for my purpose (flatpak packages) however I think it would be nice to cut a release otherwise those fixes will probably never reach other downstream packages before they switch to 2.x, which could take a while. Your call :)

[2017-11-28 13:09] pauldotknopf commented on #290
Also, here is the bug I reported at freedesktop.

https://bugs.freedesktop.org/show_bug.cgi?id=103948

[2017-11-28 14:58] tuxutku commented on #303
I will try with optimization option -O1

[2017-11-28 15:04] tuxutku commented on #303
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~/Programlar/intel-vaapi-driver-1.8-branch $ ./autogen.sh
ln: failed to create symbolic link '.git/hooks/pre-commit': No such file or directory
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal
autoreconf: configure.ac: tracing
autoreconf: running: libtoolize --copy
libtoolize: Consider adding

[2017-11-28 16:32] uartie commented on #303
As @xhaihao pointed out, intel-vaapi-driver 1.8 is not compatible with libva 2.0 (VAAPI 1.0).  If you want to use libva 2.0, then you need to compile intel-vaapi-driver 2.0.  Otherwise, you need to use libva 1.8 with intel-vaapi-driver 1.8.

[2017-11-28 16:46] tuxutku commented on #303
i am trying to get libva.so.1

[2017-11-28 16:47] tuxutku commented on #303
and trying to compile 1.8 from 1.8 branch
messages are separate becouse i am texting from mobile

[2017-11-28 17:22] uartie commented on #303
Then you need libva 1.8 branch too.

[2017-11-28 17:25] xhaihao commented on #293
You set the driver  via LIBVA_DRIVER_NAME,  could you give a try without LIBVA_DRIVER_NAME when running 'vainfo --display drm --device /dev/dri/renderD129'

[2017-11-28 17:42] Hagbard-Celin commented on #293
I have already set driver with LIBVA_DRIVER_NAME=i965 as stated in my first post. What I am saying is the setting driver should also select the right "/dev/dri/cardx" and "/dev/dri/renderDxxx", as it does not do at the moment. Or, we need additional variable(s) to set those. As it is now, it seems card0 and renderD128 gets hard-coded (at-least in the software I use) when using va via drm, that wor

[2017-11-28 17:48] Hagbard-Celin commented on #293
Sorry I misread your comment, here is result:
[code]

[2017-11-28 18:35] tuxutku commented on #303
i don't understand
libva.so.2 is allready exist, i assume its intel-vaapi-driver 2, the app i am compiled require libva.so.1 and i assume its intel-vaapi-driver 1.x (1.8 , 1.6 etc...),program didn't require libva.so.1 but after some updates it started to require libva.so.1 and i couldnt found the file, is intel-vaapi-driver 2 provide libav.so.1 too , or am i have to install 1.x
i couldn't compiled

[2017-11-28 18:38] tuxutku commented on #303
i don't know how to get libva.so.1 and i assume version 1.8 provides it, but i don't know. also libva.so.2 and libva*.so.2 files are exist and i assume newest version allready installed becouse i have the game and desktop bundless installed

[2017-11-28 19:02] xhaihao commented on #303
1. yes version 1.8 provides libva.so.1,
2. libva1 and libva2 can't coexist. Currently the include files for VAAPI was installed from libva2 on your system. I think you should re-install the development package for libva if you want to use version 1.8 or build libva version 1.8 from source code.

[2017-11-28 19:36] xhaihao commented on #293
1. I thought your i915 is using card1 and render129 as the title says 'i915=/dev/dri/card1'. Actually your i915 is using card0 and render128 because you changed the loading order for i915.ko and radeon.ko.
so you should run 'vainfo --display drm --device /dev/dri/renderD128'. You needn't set LIBVA_DRIVER_NAME because the device has been set via option '--device'

2. Even for Intel GPU, there are t

[2017-11-28 20:13] Hagbard-Celin commented on #293
My Intel card is /dev/dri/card1 and /dev/dri/renderD129 as shown below.
I tried switching load order but that lead to all kind of problems as explained in my first post, so I switched back.
[code]
[code]
If the driver can not select the devise automaticity there should be a env-variable, like the LIBVA_DRIVER_NAME does for selecting driver. Implementing a card selection in applications would make

[2017-11-28 22:18] xhaihao commented on #293
The output of vainfo shows the driver for your renderD129 is r600_drv_video.so, so I think your Intel card should be card0 and renderD128. It would be better to check the files in /sys/devices/pci0000:00/0000:00:02.0/drm

It is not a VGA compatible controller.

vaGetDisplayDRM(int fd) requires that application provides a right fd.

[2017-11-28 23:57] Hagbard-Celin commented on #293
This is not a laptop. This is a Asrock C266 WS. My Xorg.log as proof:
[code]
And this is what I get after running "grep -rl card0 | xargs sed -i 's/card0/card1/g'" and "grep -rl renderD128 | xargs sed -i 's/renderD128/renderD129/g'" on sources of libva, libva-utils and libva-intel-driver and recompile them:

[code]

[2017-11-29 00:20] Hagbard-Celin commented on #293
And herein lies the problem. You let the driver be set directly in libva with LIBVA_DRIVER_NAME independent of witch application beeing used. But leave the issue of selecting the right fd to the application, leading to the current result where (almost) all are hard-coded with /dev/dri/renderD128, and people belive a pc with Nvidia+Intel or Radeon+Intel is a Optimus/Whatever-AMD-calls-it type Lapto

[2017-11-29 00:26] xhaihao commented on #293
You needn't change the source code, the option of --device should work for you, please check
https://github.com/01org/intel-vaapi-driver/issues/186

[2017-11-29 00:33] xhaihao commented on #293
AFAIK Both FFmpeg/Libav and gstreamer-vaapi don't use hard-coded /dev/dri/renderD128.

[2017-11-29 00:38] xhaihao commented on #293
Could you run the commands below to check which kernel module creates renderD128 and renderD129

$> sudo cat /sys/kernel/debug/dri/128/name
$> sudo cat /sys/kernel/debug/dri/129/name

[2017-11-29 00:41] Hagbard-Celin commented on #293
Back on unpatched libva:

[code]
[code]

[2017-11-29 00:53] Hagbard-Celin commented on #293
Ok, I probably stand corrected. But I've yet to find a GUI-app that let me set this.

[2017-11-29 00:56] xhaihao commented on #293
The vainfo you are using isn't the latest one for libva1 because the version of libva isn't printed out in the log.  Please update your libva-utils from https://github.com/01org/libva-utils/releases/tag/1.8.3

[2017-11-29 01:09] Hagbard-Celin commented on #293
This is the version I use.
I've double checked, downloaded again and diffed against the source-archive I compiled from and they are identical.

[2017-11-29 01:17] Hagbard-Celin commented on #293
On another note, the file "/usr/lib64/va/drivers/r600_drv_video.so" actually does not exist, as I use the radon only for fbcon.

[2017-11-29 01:30] xhaihao commented on #293
r600 is a Mesa Gallium driver for radeon, please check the commit below for details:

commit 2eef7235d429b1051bcaf75281868f40ee563c9d
Author: Mark Thompson <sw@jkqxz.net>
Date:   Sat Feb 4 16:00:17 2017 +0000

    drm: Fix Mesa driver names

[2017-11-29 01:33] Hagbard-Celin commented on #293
I'm just pointing out that the file does not exist, as I have not installed Gallium. Only Intel card is used for X11. Radeon is only used for fbcon and Nvidia only for KVM.

[2017-11-29 01:38] xhaihao commented on #293
I'm sorry for my bad memory. Actually --device for vainfo is not supported in 1.8.x, it only works in 2.0.x

[2017-11-29 01:54] xhaihao commented on #293
Please try https://github.com/01org/libva-utils/commit/f36a392a969a0b3045f2832495fc1ccfd4bf90e5

[2017-11-29 02:23] Hagbard-Celin commented on #293
I'll have to get back to it, getting too tired, middle of night here. Also capitulated and reported here: [https://trac.videolan.org/vlc/ticket/19173](https://trac.videolan.org/vlc/ticket/19173)

[2017-11-29 13:26] Hagbard-Celin commented on #293
That works:
[code]

[2017-11-29 14:05] Hagbard-Celin commented on #293
Seems, like VLC got this on their todo-list. I stand completely corrected, you may close this.

[2017-11-30 21:34] xhaihao commented on #293
Closed as VLC will fix the fixed DRI device name

[2017-11-30 21:34] #293 closed

[2017-11-30 21:47] fhvwy opened #307 "Driver aborts when encoding H.264 at level 6 or higher"
Setting level_idc to 60 (for level 6) gives:
[code]

[2017-12-01 19:50] xhaihao commented on #284
The corresponding PR has been merged

[2017-12-01 19:50] #284 closed

[2017-12-06 16:24] fthiery opened #312 "Low-power encoding does not support CBR"
Using gstreamer-vaapi on an i3-6100; my application requires the performance offered by the low power encoding (fixed function), but also constant bitrate. The driver currently doesn't support CBR which is an issue for any HLS/DASH adaptive bitrate application, or any realtime communication oriented application which requires bitrate control.

Adding support for CBR with low-power encoding would b

[2017-12-06 17:28] uartie commented on #312
https://github.com/01org/intel-vaapi-driver/blob/master/src/i965_device_info.c#L1052

[2017-12-06 17:33] fthiery commented on #312
Are you saying that it is actually doing CBR ?

[2017-12-06 17:48] uartie commented on #312
As long as the condition is met on L1051, then yes it should.  @xhaihao can probably give more details.

[2017-12-06 18:09] sreerenjb commented on #312
https://bugzilla.gnome.org/show_bug.cgi?id=789472#c7
Check cat /sys/kernel/debug/dri/0/i915_huc_load_status

[2017-12-06 18:10] uartie commented on #312
Can you verify if i915 HuC firmware is loaded?

Try setting `i915.enable_guc_loading=1` in the kernel boot command line.  You can see valid values with
`$ modinfo i915 | grep "enable_guc_loading"`

NOTE: GuC is required to be loaded for HuC to load and you'll need to ensure the firmware exists (`ls /lib/firmware/i915`)... https://01.org/linuxgraphics/downloads/firmware

Also look at `dmesg | egrep

[2017-12-06 18:18] fthiery commented on #312
Thanks, i managed to load the GuC with i915.enable_guc_loading=1, but not the HuC: i think my kernel is too old

# uname -r
4.9.66-1-lts

# cat /sys/kernel/debug/dri/0/i915_guc_load_status
GuC firmware status:
	path: i915/skl_guc_ver6_1.bin
	fetch: SUCCESS
	load: SUCCESS
	version wanted: 6.1
	version found: 6.1
	header: offset is 0; size = 128
	uCode: offset is 128; size = 128640
	RSA: offset is 1

[2017-12-06 18:24] uartie commented on #312
If no HuC, then you only get CQP https://github.com/01org/intel-vaapi-driver/blob/master/src/i965_device_info.c#L378

[2017-12-06 18:29] fthiery commented on #312
Many thanks, makes more sense now.  I'll upgrade my kernel and check

[2017-12-06 18:59] #312 closed

[2017-12-07 11:15] fthiery commented on #312
Out of curiosity, why doesn't the following work ? Only passing the option on the boot cmdline seems to work for me:
# cat /etc/modprobe.d/i915.conf
options i915.enable_guc_loading=1

[2017-12-07 12:55] ceyusa commented on #312
because the format is

[code]

[2017-12-07 14:51] fthiery commented on #312
(indeed...); but still no joy

[code]

[2017-12-07 14:58] fthiery commented on #312
Looks like including i915 in my initrd was necessary. Strangely, not if using the boot cmdline parameter.

[2017-12-07 15:13] ceyusa commented on #312
strange. it works for me

just wrote a blog post about this issue

https://blogs.igalia.com/vjaquez/2017/12/07/enabling-huc-for-sklkbl-in-debiantesting/

[2017-12-07 15:19] fthiery commented on #312
Great, i did the same on the ArchLinux wiki.

Maybe i915 is included on debian in the initrd by default ?

[2017-12-08 07:44] wangzj0601 commented on #172
Can not duplicate this issue after apply the patch FFmpeg-devel-V3-lavc-vaapi_encode_h264-Enable-MB-rate-control..patch(apply the patch by copy the code line by line because the patch is too old) with ffmpeg commit 991eca0f8729043724ae4574be0eb4c20bdba915
enc
Processor: Skylake ULX  (Intel(R) core(TM) m5-6Y57 CPU
GT info: GT2 (0x191E)
Kernel   version: 4.12.0-rc2
ffmpeg:  repo https://git.ffmpeg.o

[2017-12-08 07:47] wangzj0601 commented on #172
upload my patched file vaapi_encode_h264.c
[vaapi_encode_h264.txt](https://github.com/01org/intel-vaapi-driver/files/1541861/vaapi_encode_h264.txt)

[2017-12-08 17:49] fhvwy commented on #172
I tried this again on the same machine (Skylake 6300), with slightly newer software.  The problem persists, but the machine is no longer hard-reset by the operation so I am able to extract some debug information.  The graphics core is still completely dead, and doesn't work at all until the machine is rebooted.

Using:
* Debian testing, kernel 4.13.13.
* i965 b56eed0d99d2c1d9ec4e706775c310aff38218

[2017-12-11 02:27] wangzj0601 commented on #172
I try one another SKL unit, this issue still can not be duplicated with ffmpeg commit 991eca0f8729043724ae4574be0eb4c20bdba915 + patch FFmpeg-devel-V3-lavc-vaapi_encode_h264-Enable-MB-rate-control..patch

CPU: Intel(R) Core(TM) i5-6600K CPU @ 3.50GHz
VGA: VGA compatible controller [0300]: Intel Corporation Sky Lake Integrated Graphics [8086:1912] (rev 06)
ffmpeg compilation cmd: --enable-vaapi --p

[2017-12-12 00:07] fhvwy commented on #172
@wangzj0601  What input file are you using?  Have you tried encoding more than 100 frames?  The failure is very consistent for me, but how long it takes varies by file and other settings (though usually around 200 frames).

E.g. with the 1080p "Big Buck Bunny" file running:
[code]
the GPU always dies when encoding frame 234.

Wrt the SKU you are using, have you tried one with 23 EUs rather than 24

[2017-12-13 07:47] fritsch commented on #307
Level 6, 6.1 and 6.2 specify up to 8k surfaces. Currently all drivers are limited to a maximum of 4096 - does that need changing in above combination?

[2017-12-13 08:59] fhvwy commented on #172
@xhaihao  See table and notes in <https://01.org/sites/default/files/documentation/intel-gfx-prm-osrc-skl-vol04-configurations.pdf> - "[a] Particular SKUs produced by Intel may have one EU disabled.".  It's visible at runtime in Beignet, which indicates that it has 23 compute units while other similar machines have 24.  (I assume there is an ioctl() somewhere which will return how many there are.)

[2017-12-13 23:21] fhvwy commented on #172
[code]

[2017-12-13 23:33] fhvwy commented on #307
@fritsch  The surface size constraint is already handled elsewhere - i965_CreateContext() blocks creating contexts for too-large streams.

(In any case, the 4096 limit is already insufficient for full support of level 4.2, which requires being able to handle a stream with width or height of up to 16\*floor(sqrt(8702\*8)) = 4208 pixels, and higher levels even bigger.  Only levels up to 4.1 are full

[2017-12-19 07:04] lizhong1008 commented on #172
I also tried to reproduce this issue on my KBL (i7-7567U) but failed. Looks like it only happens on specified CPU.  @wangzj0601 could you try to find a skylake 6300 (or some other verisions with 23 EU) to reproduce it?

[2017-12-26 13:31] MatMaul commented on #262
Can I ask a backport of 9d66570032fb02b1e79a883af7697b035d700a8e on 1.8-branch, which seems to be a follow up of this one ?

@chivakker it would actually be really nice to cut a release, I didn't experienced the bug before but it seems most of (all?) the WebM VP9 files coming from YouTube exhibit the problem. Which represents I guess 90%+ of all VP9 files available :)
Same reason as before, if you

[2018-01-06 13:18] #303 closed

[2018-01-06 15:44] maximbaz opened #315 "VP9 decoding produces grey boxes (again)"
It looks like the issue #297 is back, when a video changes resolution, grey boxes start appearing, much like in #262.

Just like in #297, it is reproduced when youtube changes video quality, but can also be reproduced with `mpv --hwdec=vaapi` by concatenating two videos of different resolution. [I made one such video](https://www.dropbox.com/s/hkl1rq3piwymzd2/vp9_concat_2_10.webm?dl=0), the merge

[2018-01-07 03:31] bwat47 commented on #315
Can confirm here... I recall this was working after a libva-intel-driver update at some point, but now it's happening again. Running manjaro with libva-intel-driver 2.0.0-2

Kernel 4.14.11
Kaby Laky (Dell XPS 13 9360)

[2018-01-08 05:51] xhaihao commented on #315
You are using inter-vaapi-driver version 2.0.0 which doesn't fix this issue completely.  Could you try the master branch or apply the following commit to your code?

commit 9d66570032fb02b1e79a883af7697b035d700a8e
Author: Xiang, Haihao <haihao.xiang@intel.com>
Date:   Tue Oct 31 05:58:24 2017 +0800

    Add upper bound check in HCP_IND_OBJ_BASE_ADDR_STATE

[2018-01-08 06:06] xhaihao commented on #262
fcf9041b29cee938a228dc7950955ccebb43c6bf was merged into v1.8-branch as well.

[2018-01-08 09:58] maximbaz commented on #315
Oh my, I completely forgot that the 9d66570 didn't make it into the latest release, and when reinstalling OS I got the latest release 2.0.0 installed again. Sorry for the confusion, and yes, running the code from `master` fixes the issue!

Could you please consider releasing 2.0.1 with this fix? There was one other person who confirmed that the "grey boxes" recently returned, I think they also for

[2018-01-08 09:58] #315 closed

[2018-01-09 05:31] xhaihao opened #316 "VC1 regression caused by PR https://github.com/01org/intel-vaapi-driver/pull/295"
We are experiencing GPU hang issue  when playing back some VC1 clips. The issue disappears if reverting https://github.com/01org/intel-vaapi-driver/pull/295.

[2018-01-09 08:18] #316 closed

[2018-01-10 00:40] chivakker opened #318 "GPU Hang on vcs ring when encoding h.264 odd resolution clip"
Try to encode whatever clip with this command line

yamitranscode -i ./input_16x1088.yuv -W 16 -H 1088 -o ./output_1088.h264 -b 11955 -f 3 -c AVC -s I420 -rcmode CBR

Tried on KBL libva/intel-vaapi-driver ToT master

[2018-01-10 04:59] #307 closed

[2018-01-10 05:12] QuPengfei commented on #318
@chivakker would you share the yuv file ? i will try it.

[2018-01-10 08:34] #272 closed

[2018-01-10 08:35] QuPengfei commented on #318
@chivakker i create a file in my side and it can be reproduced.

I also try the 32x1080 and it work well.

[2018-01-10 18:58] chivakker commented on #318
Yeah 32x1088 works okay, it is just 16x1088. Let me know if you need more information.

[2018-01-11 05:48] xhaihao opened #319 "Regression caused by 6c1b9b345982babde748518de1834e2af8bcf321"
Commit 6c1b9b345982babde748518de1834e2af8bcf321 makes the quality of JPEG Enc drop a lot.

[2018-01-12 00:17] #319 closed

[2018-01-14 00:51] mikhailnov opened #321 "How to find out support status for my hardware"
Hello, please help to understand, how to find out which features of libva are supported on my hardware and hich are not, for example, how to understand wether H264 is supported for both decoding and encoding or decoding only?
[code]

[2018-01-14 00:55] mikhailnov opened #322 "VP9 decoding support on CherryTrail"
Are there any plans to add VP9 hardware decoding supprt for CherryTrail?
I am using Linux on Chuwi Hi12 tablet, and H264 decoding supports greatly helps to watch videos on YouTube and other places (using h264ify extension to force H264 instead of VP9 + patched Chromium https://github.com/saiarcot895/chromium-ubuntu-build/blob/master/debian/patches/enable_vaapi_on_linux_2.diff to support VA-API)
[c

[2018-01-15 00:34] xhaihao commented on #321
The left part is the supported profiles and the right part is the supported entrypoints in the vainfo output, VAEntrypointVLD is for decdoing and VAEntrypointEncSlice is encoding. so H.264 is supported for both decoding and encoding on your hardware.

[2018-01-15 00:34] #321 closed

[2018-01-15 00:45] xhaihao commented on #322
VP9 hardware decoding isn't supported on Cherry Trail. You may try the hybrid driver (https://github.com/01org/intel-hybrid-driver.git) if you are interested. You should set LIBVA_DRIVER_NAME pointing to intel-hybrid-driver in your environment.

[2018-01-15 00:45] #322 closed

[2018-01-15 06:11] xhaihao opened #323 "Regression caused by commit 4c1992b"
The quality drops for some AVC encoding cases on KBL/GLK/CFL since commit 4c1992b

[2018-01-15 06:39] QuPengfei opened #324 "AVC encoder multi slice fix"
this cause the regression when multi slices

[2018-01-15 16:03] ceyusa opened #326 "‌driver should declare compilation dependency with libdrm_intel"
libdrm_intel has its own pc file, and intel-vaapi-driver uses functions declared in libdrm/intel_bufmgr.h handled by libdrm_intel.pc (drm_intel_gem_*(), for example)

configure.ac should explicitly express the dependency with libdrm_intel.pc

[2018-01-15 16:12] ceyusa opened #327 "remove unused variable in configure.ac"
va_full_version_int is not used at all along configure.ac or automake, so it would be better if it is just removed.

[2018-01-16 02:05] 38github opened #328 "i3-7100U / no hardware acceleration of 2180p H.264 10-bit file."
I am having a problem getting vaapi to work with any Linux distro. I have an i3-7100U with HD 620 graphics and I have installed all libva, vaapi and intel packages in several distros and still mpv with hwdec=vaapi uses almost all CPU power. The latest I have tried it on is Ubuntu 18.04 and the following is what information I can give you about what I use to play the media.

[code]

Video recorded

[2018-01-16 02:37] QuPengfei commented on #328
@38github, the VAAPI driver does not support AVC 10bit

[2018-01-16 03:17] QuPengfei commented on #318
Just confirm the encoder kernel allow the minimum width/height 32. the 16 is not supported.

[2018-01-16 04:59] 38github commented on #328
Oh. Thank you for that information. Is it the same case with HEVC 10bit?

[2018-01-16 05:23] xhaihao commented on #328
HEVC 10bit decoding is supported on your KBL, please check the output of vainfo

[2018-01-16 05:23] #328 closed

[2018-01-16 14:09] 38github commented on #328
I reencoded some HEVC 10bit videos I have that did not use hardware acceleration but this time I (more) carefully configured the encode parameters in Handbrake and now the files are being accelerated. Thank you for your help! Weird though that AVC 10bit is hardware accelerated in Windows but not Linux but maybe Windows use another type of driver?

[2018-01-17 03:03] xhaihao commented on #328
Yes, widnows is using another driver.

[2018-01-18 02:17] #323 closed

[2018-01-18 02:20] xhaihao commented on #218
Closed as no response from reporter. Please feel free to reopen this issue if you still experience the bug.

[2018-01-18 02:20] #218 closed

[2018-01-18 02:22] xhaihao commented on #222
The issue has been fixed.

[2018-01-18 02:22] #222 closed

[2018-01-18 02:26] xhaihao commented on #215
the reporter has fixed the invalid configuration. In addition, intel_mfc_brc_postpack_vbr is not used for new media kernels.

[2018-01-18 02:26] #215 closed

[2018-01-18 02:33] xhaihao commented on #87
The maximum framerate is limited to 60fps by https://github.com/01org/intel-vaapi-driver/pull/209.

[2018-01-18 02:33] #87 closed

[2018-01-18 17:24] uartie opened #333 "Unit test regressions since #330 on SKL+"
There are at least 30 unit test regressions on SKL+ (test_i965_drv_video) since PR #330 merged:

[code]
...and occassionally the `Random/JPEGEncodeInputTest.Full/*` will fail too.

Since #330 adds minimum JPEG encode resolution constraint of 16x16, these tests need to be updated so that they don't use any resolution below 16x16.  I recommend just adding 16 to the resolution for each failing test s

[2018-01-18 17:30] uartie opened #334 "Conformance test regressions since #330"
Since PR #330, there are 12 conformance test regressions detected by `test_va_api` (libva-utils):
[code]

The detailed failure message for each test looks like:
[code]

To fix this, the driver should not allow `vaCreateContext` to succeed when resolution is below minimum resolution that is returned by `vaQuerySurfaceAttributes`.

[2018-01-18 18:12] uartie opened #335 "Use descriptive test name suffix for parameterized unit tests"
Currently, gtest automatically appends an incremented number (index) to each parameterized test case to uniquely distinguish it from the others.  Unfortunately, if the order of those parameters are redefined in source then the index previously associated with a specific parameter is changed.  This causes issues when collecting test statistics and test reports based on test name.  For example, we c

[2018-01-18 20:13] uartie opened #336 "vaCreateConfig should fail if VAConfigAttribDecSliceMode != VA_DEC_SLICE_MODE_NORMAL"
Currently, `vaGetConfigAttributes` returns `VA_DEC_SLICE_MODE_NORMAL` as the only supported `VAConfigAttribDecSliceMode`.  Therefore, if user/app tries to specify config attribute `VAConfigAttribDecSliceMode=VA_DEC_SLICE_MODE_BASE` with `vaCreateConfig`, it should fail and return `VA_STATUS_ERROR_INVALID_VALUE`.  Currently, it returns `VA_STATUS_SUCCESS`.

[2018-01-18 20:31] uartie opened #337 "VAConfigAttribRateControl: vaCreateConfig should return VA_STATUS_ERROR_INVALID_VALUE if RC is unsupported"
When user/app calls `vaCreateConfig` with unsupported `VA_RC_*` for `VAConfigAttribRateControl`  (i.e. not returned by `vaGetConfigAttributes`), then `vaCreateConfig` should fail and return `VA_STATUS_INVALID_VALUE` when attribute is supported but value is not supported.

Currently, H264Main/High/ConstrainedBaseline with EncSlice/EncSliceLP/FEI returns `VA_STATUS_INVALID_CONFIG`.  Instead, if attr

[2018-01-19 20:51] ceyusa opened #341 "when compiling master without libva master compilation fails"
Error log:

[code]

In my opinion, it is required to bump the VA-API version because this libva's commit changed the API

commit 992227debe1b5e25da53b2606b4f67c46eb7ad46
Author: carpalis <jerome.borsboom@carpalis.nl>
Date:   Thu Nov 16 20:38:34 2017 +0100

    Add fields for intensity compensation in VC-1 interlaced decoding

what do you thing?

this seems to be a libva issue, but it is reflected

[2018-01-21 12:16] pkerling opened #342 "vaExportSurfaceHandle possibly misinterprets surface size"
Hi,

while investigating usage of the recently implemented `vaExportSurfaceHandle` in the Kodi media center we came across the problem that EGL import with `eglCreateImageKHR` of the surfaces decoded from HEVC10 failed with `EGL_BAD_ALLOC` in recent Mesa versions, while 8-bit HEVC and H.264 worked fine.

Testing the import of the Y plane of an example 4K (3840x2160) video decoded as P010, I traced

[2018-01-22 00:11] xhaihao commented on #341
Yes, we will bump the VA-API version.

[2018-01-22 01:09] xhaihao commented on #342
Yes, VADRMPRIMESurfaceDescriptor.width should be the surface width in pixels.

[2018-01-22 09:44] fhvwy commented on #342
Aside:  I don't think you want to use the surface width/height for this sort of use-case - you want the size of the image actually rendered on the surface, which may be smaller (especially when there is a cropping rectangle present).  This is probably why the problem wasn't noticed earlier - other programs using the API so far do not use these values because they only need the size of the image re

[2018-01-22 10:40] pkerling commented on #342
Thanks for the hint - under what conditions would that cropping occur? And are there downsides to just importing the whole surface to EGL using the parameters provided in VADRMPRIMESurfaceDescriptor?

If such a cropping rectangle means that the rendered image is placed at some location within the surface (i.e. it has an offset), wouldn't I still have to import the surface into EGL using the surfac

[2018-01-22 12:52] fhvwy commented on #342
The most common cropping case is when decoding video with height/width not divisible by the block size of the codec.  For example, in 1920x1080 video, 1080 is not divisible by 16 so in H.264 it is actually coded as 1920x1088 with eight lines of garbage data at the bottom of the frame.

As long as everything you do on the EGL side only uses the actual image region of the frame, then importing the w

[2018-01-22 21:47] pkerling commented on #342
Fair point, but is setting `EGL_HEIGHT` (in the example) to 1080 instead of 1088 guaranteed to prevent that?

I'll happily ignore this then :-)

[2018-01-23 09:15] fhvwy commented on #342
Yes - the GL implementation won't read outside the surface it knows exists.

[2018-01-31 00:18] #342 closed

[2018-01-31 07:42] pkerling commented on #342
Cool -  I was worried it might use some side-channel information like it seems to do for the plane format modifiers.

[2018-02-01 21:56] uartie commented on #333
fixed by #340

[2018-02-01 21:56] #333 closed

[2018-02-01 21:57] uartie commented on #334
Fixed by #340

[2018-02-01 21:57] #334 closed

[2018-02-06 00:29] lqvnguyen commented on #238
Hi Jerome,

Did you submit your ffmpeg commits to the ffmpeg mailing lists?

[2018-02-07 08:44] carpalis commented on #238
The patches for ffmpeg are not yet submitted. I wait for the release of a version of the driver and libva library that contains the interlaced decoding code. The changes in ffmpeg need to be made conditional on this version. Otherwise ffmpeg will not compile with an older version of libva.

[2018-02-08 03:37] qiushics opened #354 "Why H264 Encoder is slower than H265 Encoder?"
[#184](https://github.com/intel/libva/issues/184)

Does vaapi driver have some difference on SKL?

[2018-02-08 03:57] xhaihao commented on #354
The driver uses legacy media kernels on HSW. the new kernels are used on BDW+.

[2018-02-08 03:59] xhaihao commented on #354
Are you using the latest version of intel-vaapi-driver on SKL?

[2018-02-08 05:44] qiushics commented on #354
@xhaihao
I used the lastest version of SKL, the performance of H264 increase, but the speed of H265 encoder decrease when compared to the old driver.
I also compare the new version  on both HSW and SKL. HSW has better H264 encoder performance.

The result updated as below:

VAAPI Driver | CPU |Encoder| FPS
------------ | ------------- | ------------- | -------------
1.7.0| i7 4770| H264| 250fps
1.

[2018-02-08 09:15] qiushics commented on #354
when I use [libva-util](https://github.com/intel/libva-utils)
`sudo intel_gpu_time avcenc 1920 1080 ~/mediatest/1080p.yuv /dev/null`

HSW:
[code]

SKL:
[code]

It seems that SKL can't full utilize the GPU.

[2018-02-08 10:28] victortoso opened #355 "GPU Profiling"
Is it possible to have the overall metrics of GPU, like gpa?
https://software.intel.com/en-us/gpa

[2018-02-09 05:41] xhaihao commented on #354
The quality of the new H265 encoder is far better than the old H265 encoder on SKL.

A simple media kernel is used on HSW however a more complicated media kernel is used on SKL,  the quality of the h264 encoder on SKL is far better than the h264 encoder on HSW.

intel_gpu_time only measures the utilization of the render ring,  actually it is not a good tool for measuring GPU utilization.

[2018-02-09 06:08] qiushics commented on #354
@xhaihao Thanks.
I know the problems is that the performance is related to the quality encoder.
So, should I use GPA to for measuring GPU cost?

[2018-02-11 11:35] #326 closed

[2018-02-11 11:35] #327 closed

[2018-02-12 07:54] xhaihao commented on #238
libva / intel-vaapi-driver 2.1.0 supports decoding interlaced vc1, the VA-API version is 1.1.0.

[2018-02-12 15:14] Enigma0 opened #356 "Frame-delay when encoding from a desktop for streaming services"
Most notably, Parsec & Steam In-Home-Streaming both exhibit odd frame-delays that make the experience less than smooth.

This is only evident when streaming _to_ a Linux system as far as I am aware. It seems to work ok when it's _to_ a Windows system.

Typing & interacting with anything that relies on visual feedback requires a subsequent refresh action after the initial action for the initial act

[2018-02-13 04:01] qiushics commented on #354
ok, thanks

[2018-02-13 08:44] xhaihao commented on #356
Could you attach the output of vainfo?

[2018-02-13 15:52] Enigma0 commented on #356
[code]

[2018-02-13 15:53] Enigma0 commented on #356
[code]

[2018-02-13 16:38] ceyusa commented on #291
this fix for this issue was already merged, can I close it?

(sorry, I didn't relate commit with issue)

[2018-02-13 17:26] ceyusa opened #357 "support RGB when exporting a surface to a Wayland buffer"
This is a follow up of https://bugzilla.gnome.org/show_bug.cgi?id=775698

The main issue is that mutter, the Wayland compositor for GNOME doesn't support non RGB buffers (see https://gitlab.gnome.org/GNOME/mutter/blob/master/src/wayland/meta-wayland-buffer.c#L232)

The reason why mutter cat import EGL images non-RGB is because cogl, the library that wraps GL for clutter and mutter, doesn't handle

[2018-02-14 01:19] #291 closed

[2018-02-15 10:10] sebastinas commented on #220
@xhaihao  So what's the status of this issue? I see new shaders merged without source instead of this issue getting fixed.

[2018-02-18 23:28] vaapicon opened #362 "ffmpeg vp9 vaapi encoding fails on kaby lake nuc"
I've been using the ffmpeg vp9_vaapi encoder on Arch Linux. Its been working fine until the latest release.
ffmpeg fails  with:

[vp9_vaapi @ 0x55cd90c08f40] Failed to create encode pipeline configuration: 25 (an invalid/unsupported value was supplied).

I built intel-vaapi-driver from git and it works until  "commit cccf2a3", dealing with packed headers.
Arch Linux's version of ffmpeg has vp9 pac

[2018-02-19 20:00] vaapicon commented on #362
@fhvwy Thanks, commit 1337345 works.
 At least it works for me using ffmeg.

[2018-02-19 22:35] fhvwy opened #363 "YUV 4:4:4 JPEG decoding returns garbage for some input files"
Sample:
![yuv444](https://user-images.githubusercontent.com/18668774/36399545-33708bf8-15c4-11e8-9399-8df1986dc956.jpeg)

Decoding appears to succeed, but the output surface contains garbage.  I think the interesting feature of the file here is that V_i is 2 for all components, so the MCU size is actually 1x2.  (This file was created by libavcodec with default settings; YUV 4:4:4 files created by

[2018-02-21 17:27] uartie opened #364 "Links are out of date"
Various files (CONTRIBUTING.md, INSTALL, configure.ac, README.md, .travis.yml) have links to the old "01org" URLs.  Some of these links no longer work properly and should be updated to new "intel" URLs.

[2018-02-22 23:28] YijinLiu opened #365 "Process killed because GPU OOM"
I am using ffmpeg to transcode video using multiple threads.
My process got killed by OOM when the system still has plenty of memory.
After some research, I think it's actually that GPU is short of memory.
According to /sys/kernel/debug/dri/0/i915_gem_objects, almost all memory is in the inactive list.

Some people says it's user space's bug (https://bugs.freedesktop.org/show_bug.cgi?id=94814), th

[2018-02-23 23:16] seanvk commented on #357
@xhaihao Who do you have assigned?

[2018-02-25 13:27] carpalis commented on #238
I have submitted the changes to the ffmpeg-devel mailinglist a few minutes ago.

[2018-02-26 11:31] srehm opened #366 "MADI/MCDI produce artifacts on Kabylake"
Using MADI or MCDI I get artifacts that look just like the ones reported here https://bugs.freedesktop.org/show_bug.cgi?id=79765 for SNB and IVB.
I used the same burosch test samples that are linked in that bug report. The result looks identical to https://bugs.freedesktop.org/attachment.cgi?id=100593 (maybe not quite as bad, but that could well be because I only watched it in motion and did not d

[2018-02-27 01:02] xhaihao commented on #357
@ceyusa do you mean rgba or rgbx? the driver doesn't support 24bit rgb888 format.

[2018-02-27 10:32] ceyusa commented on #357
either, both are handled by Wayland as you can see in the code.

Would be possible use VPP?

[2018-03-02 06:49] joojler opened #367 "Incomplete output while doing large ratio scaling & CSC from YUYV to NV12"
![Uploading dump.PNG…]()
Incomplete output while doing scaling & CSC:
**resolution:** 1080P -> 112x66
**CSC:** YUYV -> NV12

**LIBVA version**: 1.8.3
**platform:** APL

[2018-03-06 04:05] xhaihao commented on #367
Could you have a try with the latest master branch?

[2018-03-06 04:08] xhaihao commented on #366
Is it possible to try this on SKL? I wonder whether it is a KBL specific issue.

[2018-03-06 04:10] xhaihao commented on #365
What's your command line?

[2018-03-06 04:14] xhaihao commented on #365
What do you mean? xf86-video-intel is a 2D driver for X11, not a VA-API backend driver, so you can replace xf86-video-driver with intel-vaapi-driver.

[2018-03-08 18:39] YijinLiu commented on #365
I have found the culprit. It's partially caused by ffmpeg. ffmpeg has a AVBufferPool that keeps reference to those used hardware frames. Sorry for the false alarm.

[2018-03-08 18:39] #365 closed

[2018-03-10 19:43] srehm commented on #366
Sorry, I don`t own a SKL CPU. My other Intel machines are all HSW. I can try on one of those if that helps.

[2018-03-14 08:00] veranson opened #374 "make error. not found va/va_dricommon.h"
CC       libi965_drv_video_la-gen10_vdenc_common.lo
  CC       libi965_drv_video_la-gen10_vdenc_vp9.lo
  CC       libi965_drv_video_la-i965_output_dri.lo
i965_output_dri.c:27:29: fatal error: va/va_dricommon.h: No such file or directory
 #include <va/va_dricommon.h>
                             ^
compilation terminated.
make[3]: *** [libi965_drv_video_la-i965_output_dri.lo]

[2018-03-14 15:11] xhaihao commented on #374
Did you install libva-drm? You may run 'pkg-config --libs libva-drm'  check libva-drm is installed or not.

[2018-03-15 00:59] #362 closed

[2018-03-15 01:37] #364 closed

[2018-03-15 10:34] veranson commented on #374
build and install
[root@localhost src]# pkg-config --libs libva-drm
-L/root/apps/libva/lib -lva-drm -lva
[root@localhost src]#

[2018-03-28 19:10] seanvk commented on #357
Any update @jayesht ?

[2018-04-13 06:24] vanvugt opened #379 "Much higher CPU usage with KBL (compared to HSW)"
I recently changed hardware (same harddisk, same OS, same software)
from: E3-1246 v3 (Haswell, GT2, gen 7.5)
to: i7-7700 (Kaby Lake, HD 630, gen9)

and strangely, playing the same 4K video now takes 4-5x the CPU it used to (40-50% on Kaby Lake, compared to 10% on Haswell). I couldn't believe it so I reverted back to the Haswell machine and the CPU usage dropped again.

Is that expected? Looking at

[2018-04-13 08:04] xhaihao commented on #379
Could you give a try with the following variable? You will see a black window.

$> export VA_INTEL_DEBUG=2

[2018-04-22 06:34] lqvnguyen commented on #238
Did they accept your changes?

[2018-04-22 21:21] Sonic-Y3k opened #380 "VAAPI reencoding 10-Bit HEVC produces artifacts on Coffee Lake"
Hi,

decoding a 10-Bit HEVC Stream with VAAPI causes artifacts while using a coffee lake processor.

![art1](https://user-images.githubusercontent.com/1301290/39099936-9724366a-4682-11e8-90dd-f55e22b0a340.png)

![art2](https://user-images.githubusercontent.com/1301290/39099941-c90682d2-4682-11e8-8f50-7346304cada3.png)

**uname -a:**
Linux abc 4.16.2-2-ARCH #1 SMP PREEMPT Tue Apr 17 19:37:34 UTC 20

[2018-04-26 00:57] asquared opened #382 "interaction between deinterlacing and VP9 rate control?"
While encoding a batch of files to VP9 using ffmpeg and vaapi on Kaby Lake, we found that some output files had a much lower bitrate than was requested. This was using CBR mode; input file is 1920x1080 @ 29.97 fps (1080i/59.94). On a test file, removing the "deinterlace_vaapi" filter eliminated the problem.

ffmpeg command used:

[code]
Expected bitrate is 2700kbps but the average bitrate of the o

[2018-05-01 06:38] ICHx opened #383 "[LIBVA] Trying to use iGPU quicksync when Nvidia card is used as main display"
Dear devs,
I have a PC with the option to empower both PCIe and iGPU graphics at the same time, however, I could not test quicksync ability using vainfo.  Perhaps I need some direction here?

https://forum.manjaro.org/t/libva-trying-to-use-igpu-quicksync-when-nvidia-card-is-used-as-main-display/43809/16

When I try  vainfo:
[code]

When I try ffmpeg, it did generate a video file
[code]

[2018-05-01 06:39] ICHx commented on #383
[code]

[2018-05-04 14:32] xhaihao commented on #383
Sorry, I forgot drm is required. The right command should be:

$> LIBVA_DRIVER_NAME=i965 vainfo --display drm --device /dev/dri/renderD129

[2018-05-05 07:26] #383 closed

[2018-05-16 07:33] lugui2009 opened #385 "how to convert RGB to NV12 in vaapi?"
I got a demo about  tranfering OpenGL texture buffer to vaSurface. Then I want to encode texture buffer,
I find that the format of vaSurface must be NV12 if encode , However the openGL texture buffer is RGB (opengl has no NV12 format for texture buffer).   I have to convert the vaSuface from RGB to NV12 , but  I didn't find such conversion functions in vaapi.

Can someone  help me .Thank you very

[2018-05-19 07:09] Lu-Fi opened #387 "i915 0000:00:02.0: Resetting chip after gpu hang"
Issue raises if i enable deinteralce while using vaapi transcode to h264.

`
GPU HANG: ecode 6:0:0xf288ffec, in ffmpeg [3825], reason: Hang on rcs0, action: reset
Kernel: 4.15.0-20-generic
Time: 1526686410 s 103856 us
Boottime: 1762 s 812038 us
Uptime: 1759 s 196797 us
Active process (on ring render): ffmpeg [3825], score 0
Reset count: 0
Suspend count: 0
Platform: SANDYBRIDGE
PCI ID: 0x0126
PCI R

[2018-05-19 14:52] montvid opened #388 "Patent issues of the driver so it can be included in Fedora?"
Is there a possibility for the intel-vaapi-driver to do all its work in hardware so there would be no patent problems and it could be included in Fedora by default? Is it fixable? Thanks.
[https://bugzilla.redhat.com/show_bug.cgi?id=770371#c8](url)

https://fedoraproject.org/wiki/Changes/VA-API_1.0.0

Why can't intel-vaapi-driver be included in mesa-dri-drivers?

[2018-05-24 02:48] jinlongzhou opened #390 "skylake platform decode hevc - 4800x3840 picture falied"
my vaapi version is 1.8.0   intel-vaapi-driver version is 1.8.0,  i wonder wether the version of vaapi and vaapi driver  supports the hevc video (size over 4k) decoding ?

[2018-05-25 04:52] xhaihao commented on #390
No, the driver doesn't support size over 4k.

[2018-05-25 04:52] #390 closed

[2018-05-25 08:17] jinlongzhou commented on #390
dafsd

[2018-05-25 09:35] jinlongzhou opened #391 "how to make hevc decoder support up to 8192 x 8192 on skylake+"
It is confirmed that the skylake gpu is support decoding hevc video size up to 8192x8192, and it seems like that Media Server Studio has supported hevc up to 8k x 8k. Here is two smiliar open source library Intel® Media SDK:https://github.com/Intel-Media-SDK/MediaSDK#how-to-build
Intel(R) Media Driver for VAAPI :https://github.com/intel/media-driver
Can I replace intel-vaapi-driver with these two

[2018-05-27 23:46] piotrasd opened #392 "Kaby Lake -G artefacts .... :("
hi i just tested Skull Hades.
I got working with latest kernel, mesa linux

I know this Soc have internal GPU intel unit but not physical connected to HDMI, here is vega M

anyway looks like vaapi works, but is not usable to watch anything
`ibva info: VA-API version 1.1.0
libva info: va_getDriverName() returns 0
libva info: Trying to open /usr/lib/dri/i965_drv_video.so
libva info: Found init funct

[2018-05-29 17:47] LigH-de opened #393 "ffmpeg fails converting YUV 4:2:2 MJPG AVI (yuvj422p) via VA-API"
_Reporting on behalf of a user with little knowledge of English and no account here..._

System:
[code]
vainfo:
[code]
[Sample AVI file from capture device](https://drive.google.com/file/d/1PHjHzTn7GoBCGP9aaPj3UTkDX6hDKOD4/view?usp=sharing)

MediaInfo:
[code]
ffmpeg output:
[code]

Depending on combinations of parameters, ffmpeg either fails with this assertion or decodes to green/purple garbage.

[2018-06-01 15:56] uartie opened #397 "GPU Hang/System Crash when VPP Sharpen on 1280x720 input"
When doing vpp sharpen on 1280x720 input stream, the GPU hangs and sometimes crashes the system.

[code]

I tested this on kernels >= 4.15, various platforms >= BDW and with yamivpp and gstreamer and every environment encounters this issue.

The iHD driver does not exhibit this problem... only i965.  Also, other resolutions (e.g. 1920x1080) seem fine.

[code]

[2018-06-05 19:30] fhvwy opened #398 "Scaling from P010 to NV12 has bad output on Apollo Lake"
Scaling from P010 to NV12 seems to do something nasty to the chroma plane of the output.

For example:
[code]
Input and output files: [p010_nv12.zip](https://github.com/intel/intel-vaapi-driver/files/2073670/p010_nv12.zip).

It doesn't happen when not scaling (direct conversion P010 to NV12), but does happen at any scale factor in either dimension for both upscaling and downscaling.

The input and

[2018-06-12 17:36] montvid opened #400 "add an option in meson for hybrid driver"
I was able to compile intel-vaapi-driver with intel hybrid driver using 'enable_hybrid_codec=true' writen by hand in  meson.build default_options. Maybe there is a way to automate it more?

[2018-06-15 22:09] aenertia commented on #186
Is there a way to force use of that backend in the environment like the LIBVA_DRIVER_NAME= variable? for the --device and --display drm options?

I am trying to get libfreenect2 to use the vaapi via intel path (it uses the nvidia/vavdpau unsupport jpeg offload profile for the rgb stream). There are other programs which I would like to inherit the --device and --display options when calling vaapi

[2018-07-05 07:44] feiwan1 opened #403 "VPP: the output will always same when set different denoise level."
By using libyami/gstreamer-vaapi, and set different denoise value, the output always bitmatch.

gstreamer-vaapi issue link:
https://bugzilla.gnome.org/show_bug.cgi?id=796635

libyami issue link:
https://github.com/intel/libyami/issues/861

And we use gstreamer-vaapi test on iHd drvier, it looks good.

[2018-07-25 16:56] djmv opened #406 "iHD_drv_video.so has no function __vaDriverInit_1_0"
I built and installed intel-vaapi-driver and Intel libva but I got this error with vainfo.

My computer:
model name: Intel® Core™ i7-4770 CPU @ 3.40GHz

vainfo
libva info: VA-API version 1.1.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'iHD'
libva info: Trying to open /usr/local/lib/dri/iHD_drv_video.so
libva error: /usr/local/lib/dri/iHD_drv_video.so has no functio

[2018-07-25 17:19] chivakker commented on #406
did you compile libva-utils against libva?

[2018-07-25 17:22] chivakker commented on #406
btw, iHD_drv_video.so lives here: www.github.com/intel/media-driver

LIBVA_DRIVER_NAME=iHD vainfo
libva info: VA-API version 1.1.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'iHD'
libva info: Trying to open <redacted>/lib/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_1
libva info: va_openDriver() returns 0
vainfo: VA-API version: 1.1 (libva 2

[2018-07-25 17:39] djmv commented on #406
Yes I compiled libva-utils too. When  $ ./autogen.sh
![image](https://user-images.githubusercontent.com/19581489/43217447-4a910408-9007-11e8-9cde-ad08c6bfe946.png)

but still not work. When consult vainfo
![image](https://user-images.githubusercontent.com/19581489/43217623-bf105004-9007-11e8-970f-a061410d47db.png)

[2018-07-25 17:42] chivakker commented on #406
Did you compile iHD_drv_video driver after updating libva? In any case this question should go to media-driver project.

[2018-07-25 17:47] djmv commented on #406
Yes, I compiled  iHD_drv_video after updating libva.  Thanks !

[2018-07-29 16:29] max5962 opened #407 "Artefacs on sandy bridge using vaapi driver"
Hello,

I'm trying to make plex working with my i7 sandy bridge graphic hardware :

vainfo  :
[code]
plex logs :
[code]

Processus Transcode :

`/usr/lib/plexmediaserver/Plex Transcoder -codec:0 h264 -hwaccel:0 vaapi -hwaccel_fallback_threshold:0 10 -hwaccel_output_format:0 vaapi -codec:1 ac3 -i /media/data/Video/FILE.mkv -filter_complex [0:0]hwupload[0];[0]scale_vaapi=w=720:h=406:format=nv12[1];[